# Data retrieval

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sys
import gc
import seaborn as sns

In [2]:
champion_mapping_df = pd.read_csv("Data_prep/match-list.csv", header=None, names =['player_champ','player_champ_name','player_position','is_player_win','ally_champ1','ally_champ2','enemy_champ1','enemy_champ2'])
champion_mapping_df

,player_champ,player_champ_name,player_position,is_player_win,ally_champ1,ally_champ2,enemy_champ1,enemy_champ2
0,51,Caitlyn,BOTTOM,True,777,4,114,154
1,22,Ashe,BOTTOM,True,30,91,62,76
2,51,Caitlyn,BOTTOM,False,85,104,36,91
3,67,Vayne,BOTTOM,False,17,76,104,234
4,51,Caitlyn,BOTTOM,True,39,28,24,76
...,...,...,...,...,...,...,...,...
2055,114,Fiora,NaN,True,876,166,887,121
2056,114,Fiora,NaN,True,19,101,166,141
2057,114,Fiora,NaN,False,64,238,54,53
2058,122,Darius,NaN,True,64,54,81,421
2059,114,Fiora,NaN,False,28,61,166,234

In [3]:
train_df = pd.read_csv("Data_prep/train-data.csv")
train_df

,is_player_win,player_champ,player_champ_id,player_position,ally_champ1,ally_champ1_id,ally_champ1_position,ally_champ2,ally_champ2_id,ally_champ2_position,enemy_champ1,enemy_champ1_id,enemy_champ1_position,enemy_champ2,enemy_champ2_id,enemy_champ2_position
0,False,Sylas,517,TOP,XinZhao,5,JUNGLE,Viktor,112,MIDDLE,Kennen,85,TOP,Diana,131,JUNGLE
1,False,Sylas,517,TOP,XinZhao,5,JUNGLE,Viktor,112,MIDDLE,Kennen,85,TOP,Yasuo,157,MIDDLE
2,False,Sylas,517,TOP,XinZhao,5,JUNGLE,Viktor,112,MIDDLE,Kennen,85,TOP,Jhin,202,BOTTOM
3,False,Sylas,517,TOP,XinZhao,5,JUNGLE,Viktor,112,MIDDLE,Kennen,85,TOP,Yuumi,350,UTILITY
4,False,Sylas,517,TOP,XinZhao,5,JUNGLE,Viktor,112,MIDDLE,Diana,131,JUNGLE,Yasuo,157,MIDDLE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59995,False,Sylas,517,MIDDLE,Kaisa,145,BOTTOM,Nami,267,UTILITY,Viego,234,JUNGLE,Draven,119,BOTTOM
59996,False,Sylas,517,MIDDLE,Kaisa,145,BOTTOM,Nami,267,UTILITY,Viego,234,JUNGLE,Blitzcrank,53,UTILITY
59997,False,Sylas,517,MIDDLE,Kaisa,145,BOTTOM,Nami,267,UTILITY,Viktor,112,MIDDLE,Draven,119,BOTTOM
59998,False,Sylas,517,MIDDLE,Kaisa,145,BOTTOM,Nami,267,UTILITY,Viktor,112,MIDDLE,Blitzcrank,53,UTILITY
59999,False,Sylas,517,MIDDLE,Kaisa,145,BOTTOM,Nami,267,UTILITY,Draven,119,BOTTOM,Blitzcrank,53,UTILITY

In [4]:
synergy_counters_df = pd.read_csv("Data_prep/champion-bestwith-counters-bestagainst.csv")
synergy_counters_df

,my_champion,ideal_role,win_rate(%),ban_rate(%),best_partners,worst_counters
0,Aatrox,TOP,50.26%,2.01%,"Soraka, Diana","Garen, Riven"
1,Ahri,MIDDLE,50.04%,1.05%,"Twitch, Soraka, Hecarim","Kassadin, Viktor"
2,Akali,MIDDLE,48.32%,12.24%,"Kindred, Rammus, Nami, Sejuani, Warwick","Kassadin, Galio, Anivia, Shen, Ahri"
3,Akshan,MIDDLE,50.49%,21.56%,"Brand, Zac, Gwen, Shen","Qiyana, Malphite"
4,Alistar,UTILITY,49.86%,0.88%,"Qiyana, Shen","Soraka, Morgana"
...,...,...,...,...,...,...
152,Zed,MIDDLE,50.76%,41.96%,"Shen, Ashe, Soraka, Brand, Ornn, Nunu, Hecarim...","Shaco, Qiyana"
153,Ziggs,BOTTOM,53.10%,0.60%,"Kha'Zix, Kayn",Jhin
154,Zilean,MIDDLE,53.06%,1.26%,"Shen, Darius, Jax, Kha'Zix, Katarina","Soraka, Sona, Janna"
155,Zoe,MIDDLE,50.20%,1.45%,"Hecarim, Pyke, Blitzcrank","Lux, Vex"
156,Zyra,UTILITY,50.11%,1.98%,"Kayn, Jhin","Soraka, Blitzcrank"

In [5]:
champion_role_df = pd.read_csv('Data_prep/champion-roles.csv')
champion_role_df

       Name     Role
0    Aatrox      TOP
1      Ahri      MID
2     Akali      MID
3     Akali      TOP
4    Akshan      MID
..      ...      ...
228   Ziggs      MID
229  Zilean  SUPPORT
230  Zilean      MID
231     Zoe      MID
232    Zyra  SUPPORT

[233 rows x 2 columns]

# Data prep

###### Checking typos

In [6]:
champion_name_id = champion_mapping_df.iloc[:, :2]
champion_name_id

      player_champ player_champ_name
0               51           Caitlyn
1               22              Ashe
2               51           Caitlyn
3               67             Vayne
4               51           Caitlyn
...            ...               ...
2055           114             Fiora
2056           114             Fiora
2057           114             Fiora
2058           122            Darius
2059           114             Fiora

[2060 rows x 2 columns]

In [7]:
champion_name_id['player_champ_name'].unique()

array(['Caitlyn', 'Ashe', 'Vayne', 'Jinx', 'Jhin', 'Lillia', 'Aphelios',
       'Jax', 'Morgana', 'Leona', 'Akali', 'Renekton', 'LeeSin', 'Akshan',
       'Pyke', 'Qiyana', 'Katarina', 'Kaisa', 'Cassiopeia', 'Graves',
       'Volibear', 'Kalista', 'Lucian', 'Ezreal', 'Viktor', 'Irelia',
       'Taliyah', 'Syndra', 'Chogath', 'Orianna', 'AurelionSol',
       'TwistedFate', 'Yone', 'Xerath', 'Zoe', 'Anivia', 'Vex', 'Shaco',
       'MonkeyKing', 'Braum', 'Vi', 'Kassadin', 'XinZhao', 'Talon',
       'FiddleSticks', 'Nunu', 'JarvanIV', 'Viego', 'Gwen', 'Ekko',
       'Shyvana', 'Skarner', 'Galio', 'Nautilus', 'Lulu', 'Olaf', 'Elise',
       'Zed', 'MissFortune', 'RekSai', 'Warwick', 'Kindred', 'Taric',
       'Tristana', 'Kayn', 'Diana', 'Azir', 'Draven', 'Neeko', 'Urgot',
       'Yuumi', 'Annie', 'Ivern', 'Karthus', 'Sion', 'Teemo', 'Quinn',
       'Kled', 'Lux', 'Darius', 'Illaoi', 'Mordekaiser', 'Blitzcrank',
       'Rumble', 'Bard', 'Ryze', 'Hecarim', 'Heimerdinger', 'Soraka',
       'Trundle', 'Lissandra', 'Zyra', 'Camille', 'Thresh', 'Kennen',
       'Karma', 'Senna', 'Maokai', 'Rell', 'Singed', 'Sejuani', 'Alistar',
       'Udyr', 'Malphite', 'KogMaw', 'Brand', 'DrMundo', 'Rengar',
       'Yorick', 'Nasus', 'Poppy', 'Twitch', 'Corki', 'Zac', 'Sivir',
       'Gnar', 'Fiora', 'Gragas', 'Tryndamere', 'Samira', 'Jayce', 'Sett',
       'Rammus', 'Pantheon', 'Ornn', 'Sona', 'Riven', 'Ziggs', 'Velkoz',
       'Vladimir', 'Nocturne', 'Khazix', 'Sylas', 'Amumu', 'Xayah',
       'Seraphine', 'Shen', 'Evelynn', 'Fizz', 'Aatrox', 'Varus',
       'Malzahar', 'Nami', 'Veigar', 'Swain', 'MasterYi', 'Nidalee',
       'Zilean', 'Rakan', 'Gangplank', 'Leblanc', 'Yasuo', 'Janna',
       'Kayle', 'TahmKench', 'Ahri', 'Garen'], dtype=object)

In [8]:
len(champion_name_id['player_champ'].unique())

157

In [9]:
champion_name_id = champion_name_id.drop_duplicates()
champion_name_id = champion_name_id.reset_index(drop=True)
champion_name_id['player_champ_name'] = champion_name_id['player_champ_name'].str.lower()
champion_name_id['player_champ_name'] = champion_name_id['player_champ_name'].str.replace("monkeyking","wukong", regex=True)

champion_name_id

     player_champ player_champ_name
0              51           caitlyn
1              22              ashe
2              67             vayne
3             222              jinx
4             202              jhin
..            ...               ...
152            40             janna
153            10             kayle
154           223         tahmkench
155           103              ahri
156            86             garen

[157 rows x 2 columns]

In [10]:
champion_name_id_dict = champion_name_id.set_index('player_champ_name').to_dict()
champion_name_id_dict = champion_name_id_dict.get('player_champ')
champion_name_id_dict

{'caitlyn': 51,
 'ashe': 22,
 'vayne': 67,
 'jinx': 222,
 'jhin': 202,
 'lillia': 876,
 'aphelios': 523,
 'jax': 24,
 'morgana': 25,
 'leona': 89,
 'akali': 84,
 'renekton': 58,
 'leesin': 64,
 'akshan': 166,
 'pyke': 555,
 'qiyana': 246,
 'katarina': 55,
 'kaisa': 145,
 'cassiopeia': 69,
 'graves': 104,
 'volibear': 106,
 'kalista': 429,
 'lucian': 236,
 'ezreal': 81,
 'viktor': 112,
 'irelia': 39,
 'taliyah': 163,
 'syndra': 134,
 'chogath': 31,
 'orianna': 61,
 'aurelionsol': 136,
 'twistedfate': 4,
 'yone': 777,
 'xerath': 101,
 'zoe': 142,
 'anivia': 34,
 'vex': 711,
 'shaco': 35,
 'wukong': 62,
 'braum': 201,
 'vi': 254,
 'kassadin': 38,
 'xinzhao': 5,
 'talon': 91,
 'fiddlesticks': 9,
 'nunu': 20,
 'jarvaniv': 59,
 'viego': 234,
 'gwen': 887,
 'ekko': 245,
 'shyvana': 102,
 'skarner': 72,
 'galio': 3,
 'nautilus': 111,
 'lulu': 117,
 'olaf': 2,
 'elise': 60,
 'zed': 238,
 'missfortune': 21,
 'reksai': 421,
 'warwick': 19,
 'kindred': 203,
 'taric': 44,
 'tristana': 18,
 'kayn': 141,
 'diana': 131,
 'azir': 268,
 'draven': 119,
 'neeko': 518,
 'urgot': 6,
 'yuumi': 350,
 'annie': 1,
 'ivern': 427,
 'karthus': 30,
 'sion': 14,
 'teemo': 17,
 'quinn': 133,
 'kled': 240,
 'lux': 99,
 'darius': 122,
 'illaoi': 420,
 'mordekaiser': 82,
 'blitzcrank': 53,
 'rumble': 68,
 'bard': 432,
 'ryze': 13,
 'hecarim': 120,
 'heimerdinger': 74,
 'soraka': 16,
 'trundle': 48,
 'lissandra': 127,
 'zyra': 143,
 'camille': 164,
 'thresh': 412,
 'kennen': 85,
 'karma': 43,
 'senna': 235,
 'maokai': 57,
 'rell': 526,
 'singed': 27,
 'sejuani': 113,
 'alistar': 12,
 'udyr': 77,
 'malphite': 54,
 'kogmaw': 96,
 'brand': 63,
 'drmundo': 36,
 'rengar': 107,
 'yorick': 83,
 'nasus': 75,
 'poppy': 78,
 'twitch': 29,
 'corki': 42,
 'zac': 154,
 'sivir': 15,
 'gnar': 150,
 'fiora': 114,
 'gragas': 79,
 'tryndamere': 23,
 'samira': 360,
 'jayce': 126,
 'sett': 875,
 'rammus': 33,
 'pantheon': 80,
 'ornn': 516,
 'sona': 37,
 'riven': 92,
 'ziggs': 115,
 'velkoz': 161,
 'vladimir': 8,
 'nocturne': 56,
 'khazix': 121,
 'sylas': 517,
 'amumu': 32,
 'xayah': 498,
 'seraphine': 147,
 'shen': 98,
 'evelynn': 28,
 'fizz': 105,
 'aatrox': 266,
 'varus': 110,
 'malzahar': 90,
 'nami': 267,
 'veigar': 45,
 'swain': 50,
 'masteryi': 11,
 'nidalee': 76,
 'zilean': 26,
 'rakan': 497,
 'gangplank': 41,
 'leblanc': 7,
 'yasuo': 157,
 'janna': 40,
 'kayle': 10,
 'tahmkench': 223,
 'ahri': 103,
 'garen': 86}

In [11]:
champion_id_name_dict = champion_name_id.set_index('player_champ').to_dict()
champion_id_name_dict = champion_id_name_dict.get('player_champ_name')
champion_id_name_dict

{51: 'caitlyn',
 22: 'ashe',
 67: 'vayne',
 222: 'jinx',
 202: 'jhin',
 876: 'lillia',
 523: 'aphelios',
 24: 'jax',
 25: 'morgana',
 89: 'leona',
 84: 'akali',
 58: 'renekton',
 64: 'leesin',
 166: 'akshan',
 555: 'pyke',
 246: 'qiyana',
 55: 'katarina',
 145: 'kaisa',
 69: 'cassiopeia',
 104: 'graves',
 106: 'volibear',
 429: 'kalista',
 236: 'lucian',
 81: 'ezreal',
 112: 'viktor',
 39: 'irelia',
 163: 'taliyah',
 134: 'syndra',
 31: 'chogath',
 61: 'orianna',
 136: 'aurelionsol',
 4: 'twistedfate',
 777: 'yone',
 101: 'xerath',
 142: 'zoe',
 34: 'anivia',
 711: 'vex',
 35: 'shaco',
 62: 'wukong',
 201: 'braum',
 254: 'vi',
 38: 'kassadin',
 5: 'xinzhao',
 91: 'talon',
 9: 'fiddlesticks',
 20: 'nunu',
 59: 'jarvaniv',
 234: 'viego',
 887: 'gwen',
 245: 'ekko',
 102: 'shyvana',
 72: 'skarner',
 3: 'galio',
 111: 'nautilus',
 117: 'lulu',
 2: 'olaf',
 60: 'elise',
 238: 'zed',
 21: 'missfortune',
 421: 'reksai',
 19: 'warwick',
 203: 'kindred',
 44: 'taric',
 18: 'tristana',
 141: 'kayn',
 131: 'diana',
 268: 'azir',
 119: 'draven',
 518: 'neeko',
 6: 'urgot',
 350: 'yuumi',
 1: 'annie',
 427: 'ivern',
 30: 'karthus',
 14: 'sion',
 17: 'teemo',
 133: 'quinn',
 240: 'kled',
 99: 'lux',
 122: 'darius',
 420: 'illaoi',
 82: 'mordekaiser',
 53: 'blitzcrank',
 68: 'rumble',
 432: 'bard',
 13: 'ryze',
 120: 'hecarim',
 74: 'heimerdinger',
 16: 'soraka',
 48: 'trundle',
 127: 'lissandra',
 143: 'zyra',
 164: 'camille',
 412: 'thresh',
 85: 'kennen',
 43: 'karma',
 235: 'senna',
 57: 'maokai',
 526: 'rell',
 27: 'singed',
 113: 'sejuani',
 12: 'alistar',
 77: 'udyr',
 54: 'malphite',
 96: 'kogmaw',
 63: 'brand',
 36: 'drmundo',
 107: 'rengar',
 83: 'yorick',
 75: 'nasus',
 78: 'poppy',
 29: 'twitch',
 42: 'corki',
 154: 'zac',
 15: 'sivir',
 150: 'gnar',
 114: 'fiora',
 79: 'gragas',
 23: 'tryndamere',
 360: 'samira',
 126: 'jayce',
 875: 'sett',
 33: 'rammus',
 80: 'pantheon',
 516: 'ornn',
 37: 'sona',
 92: 'riven',
 115: 'ziggs',
 161: 'velkoz',
 8: 'vladimir',
 56: 'nocturne',
 121: 'khazix',
 517: 'sylas',
 32: 'amumu',
 498: 'xayah',
 147: 'seraphine',
 98: 'shen',
 28: 'evelynn',
 105: 'fizz',
 266: 'aatrox',
 110: 'varus',
 90: 'malzahar',
 267: 'nami',
 45: 'veigar',
 50: 'swain',
 11: 'masteryi',
 76: 'nidalee',
 26: 'zilean',
 497: 'rakan',
 41: 'gangplank',
 7: 'leblanc',
 157: 'yasuo',
 40: 'janna',
 10: 'kayle',
 223: 'tahmkench',
 103: 'ahri',
 86: 'garen'}

In [12]:
print(champion_name_id_dict.get('akshan'))
print( type(champion_name_id_dict.get('akshan')))

166
<class 'int'>

#### Impossible value

In [13]:
train_df.isna().sum()

is_player_win              0
player_champ               0
player_champ_id            0
player_position          500
ally_champ1                0
ally_champ1_id             0
ally_champ1_position     500
ally_champ2                0
ally_champ2_id             0
ally_champ2_position     500
enemy_champ1               0
enemy_champ1_id            0
enemy_champ1_position    500
enemy_champ2               0
enemy_champ2_id            0
enemy_champ2_position    500
dtype: int64

99 matches have NaN position, it means there are 99 Normal mode games <br>
Since we are building the models for rank game, 99 normal games should be removed

In [14]:
train_df = train_df.dropna().reset_index(drop=True)
train_df['player_champ'] = train_df['player_champ'].str.lower()
train_df

,is_player_win,player_champ,player_champ_id,player_position,ally_champ1,ally_champ1_id,ally_champ1_position,ally_champ2,ally_champ2_id,ally_champ2_position,enemy_champ1,enemy_champ1_id,enemy_champ1_position,enemy_champ2,enemy_champ2_id,enemy_champ2_position
0,False,sylas,517,TOP,XinZhao,5,JUNGLE,Viktor,112,MIDDLE,Kennen,85,TOP,Diana,131,JUNGLE
1,False,sylas,517,TOP,XinZhao,5,JUNGLE,Viktor,112,MIDDLE,Kennen,85,TOP,Yasuo,157,MIDDLE
2,False,sylas,517,TOP,XinZhao,5,JUNGLE,Viktor,112,MIDDLE,Kennen,85,TOP,Jhin,202,BOTTOM
3,False,sylas,517,TOP,XinZhao,5,JUNGLE,Viktor,112,MIDDLE,Kennen,85,TOP,Yuumi,350,UTILITY
4,False,sylas,517,TOP,XinZhao,5,JUNGLE,Viktor,112,MIDDLE,Diana,131,JUNGLE,Yasuo,157,MIDDLE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59495,False,sylas,517,MIDDLE,Kaisa,145,BOTTOM,Nami,267,UTILITY,Viego,234,JUNGLE,Draven,119,BOTTOM
59496,False,sylas,517,MIDDLE,Kaisa,145,BOTTOM,Nami,267,UTILITY,Viego,234,JUNGLE,Blitzcrank,53,UTILITY
59497,False,sylas,517,MIDDLE,Kaisa,145,BOTTOM,Nami,267,UTILITY,Viktor,112,MIDDLE,Draven,119,BOTTOM
59498,False,sylas,517,MIDDLE,Kaisa,145,BOTTOM,Nami,267,UTILITY,Viktor,112,MIDDLE,Blitzcrank,53,UTILITY
59499,False,sylas,517,MIDDLE,Kaisa,145,BOTTOM,Nami,267,UTILITY,Draven,119,BOTTOM,Blitzcrank,53,UTILITY

In [15]:
train_df['player_champ'].unique()

array(['sylas', 'xinzhao', 'viktor', 'warwick', 'reksai', 'corki',
       'vladimir', 'viego', 'lucian', 'jayce', 'diana', 'yasuo', 'talon',
       'syndra', 'vayne', 'trundle', 'tryndamere', 'graves', 'zac',
       'leesin', 'hecarim', 'vex', 'zoe', 'camille', 'irelia',
       'monkeyking', 'leblanc', 'jax', 'gangplank', 'nidalee', 'sett',
       'riven', 'kennen', 'zed', 'akali', 'leona', 'yone', 'malphite',
       'nunu', 'orianna', 'renekton', 'ryze', 'cassiopeia', 'volibear',
       'gwen', 'rumble', 'poppy', 'akshan', 'ekko', 'qiyana', 'kindred',
       'twistedfate', 'jhin', 'karma', 'jarvaniv', 'gragas', 'shen',
       'yuumi', 'karthus', 'mordekaiser', 'khazix', 'kassadin', 'galio',
       'kayle', 'aatrox', 'darius', 'anivia', 'caitlyn', 'olaf',
       'lissandra', 'kaisa', 'sion', 'taliyah', 'fiora', 'ezreal',
       'rengar', 'twitch', 'shaco', 'lulu', 'tahmkench', 'draven',
       'urgot', 'rammus', 'elise', 'fizz', 'ahri', 'sejuani', 'garen',
       'evelynn', 'swain', 'fiddlesticks', 'drmundo', 'skarner', 'kayn',
       'nocturne', 'veigar', 'kled', 'pyke', 'lux', 'chogath', 'annie',
       'gnar', 'seraphine', 'ornn', 'heimerdinger', 'ivern', 'xerath',
       'tristana', 'quinn', 'yorick', 'morgana', 'blitzcrank', 'singed',
       'pantheon', 'nasus', 'shyvana', 'nautilus', 'janna', 'neeko',
       'azir', 'aphelios', 'jinx', 'aurelionsol', 'kogmaw', 'katarina',
       'illaoi', 'teemo'], dtype=object)

###### Sanity check

In LoL, there is not any champ name MonkeyKing. <br>
Nunu&Willump ==> change to nunu <br>
MonkeyKing ==> change to wukong

In [16]:
train_df['player_champ'] = train_df['player_champ'].str.replace("monkeyking","wukong", regex=True)

In [17]:
champion_role_df['Name'] = champion_role_df['Name'].str.lower()
champion_role_df['Name'] = champion_role_df['Name'].str.replace("monkeyking","wukong", regex=True)
champion_role_df['Name'] = champion_role_df['Name'].str.replace("nunu & willump","nunu", regex=True)
champion_role_df['Name'] = champion_role_df['Name'].str.replace("'","", regex=True)
champion_role_df['Name'] = champion_role_df['Name'].str.replace(".","", regex=True)
champion_role_df['Name'] = champion_role_df['Name'].str.replace(" ","", regex=True)
champion_role_df['Role'] = champion_role_df['Role'].str.replace("MID", "MIDDLE").replace("SUPPORT", "UTILITY")

champion_role_df

       Name     Role
0    aatrox      TOP
1      ahri   MIDDLE
2     akali   MIDDLE
3     akali      TOP
4    akshan   MIDDLE
..      ...      ...
228   ziggs   MIDDLE
229  zilean  UTILITY
230  zilean   MIDDLE
231     zoe   MIDDLE
232    zyra  UTILITY

[233 rows x 2 columns]

In [18]:
can_flex_pick = champion_role_df
can_flex_pick

       Name     Role
0    aatrox      TOP
1      ahri   MIDDLE
2     akali   MIDDLE
3     akali      TOP
4    akshan   MIDDLE
..      ...      ...
228   ziggs   MIDDLE
229  zilean  UTILITY
230  zilean   MIDDLE
231     zoe   MIDDLE
232    zyra  UTILITY

[233 rows x 2 columns]

In [19]:
can_flex_pick = can_flex_pick.drop_duplicates().reset_index(drop=True).dropna()
can_flex_pick

       Name     Role
0    aatrox      TOP
1      ahri   MIDDLE
2     akali   MIDDLE
3     akali      TOP
4    akshan   MIDDLE
..      ...      ...
225   ziggs   MIDDLE
226  zilean  UTILITY
227  zilean   MIDDLE
228     zoe   MIDDLE
229    zyra  UTILITY

[229 rows x 2 columns]

In [20]:
can_flex_pick = can_flex_pick.set_index('Name').to_dict()
can_flex_pick = can_flex_pick.get("Role")
can_flex_pick

{'aatrox': 'TOP',
 'ahri': 'MIDDLE',
 'akali': 'TOP',
 'akshan': 'TOP',
 'alistar': 'UTILITY',
 'amumu': 'UTILITY',
 'anivia': 'UTILITY',
 'annie': 'MIDDLE',
 'aphelios': 'ADC',
 'ashe': 'ADC',
 'aurelionsol': 'MIDDLE',
 'azir': 'MIDDLE',
 'bard': 'UTILITY',
 'blitzcrank': 'UTILITY',
 'brand': 'MIDDLE',
 'braum': 'UTILITY',
 'caitlyn': 'ADC',
 'camille': 'TOP',
 'cassiopeia': 'TOP',
 'chogath': 'MIDDLE',
 'corki': 'MIDDLE',
 'darius': 'TOP',
 'diana': 'MIDDLE',
 'drmundo': 'TOP',
 'draven': 'ADC',
 'ekko': 'MIDDLE',
 'elise': 'JUNGLE',
 'evelynn': 'JUNGLE',
 'ezreal': 'ADC',
 'fiddlesticks': 'JUNGLE',
 'fiora': 'TOP',
 'fizz': 'MIDDLE',
 'galio': 'UTILITY',
 'gangplank': 'MIDDLE',
 'garen': 'TOP',
 'gnar': 'TOP',
 'gragas': 'UTILITY',
 'graves': 'TOP',
 'gwen': 'JUNGLE',
 'hecarim': 'JUNGLE',
 'heimerdinger': 'TOP',
 'illaoi': 'TOP',
 'irelia': 'MIDDLE',
 'ivern': 'JUNGLE',
 'janna': 'UTILITY',
 'jarvaniv': 'JUNGLE',
 'jax': 'JUNGLE',
 'jayce': 'MIDDLE',
 'jhin': 'ADC',
 'jinx': 'ADC',
 'kaisa': 'ADC',
 'kalista': 'ADC',
 'karma': 'UTILITY',
 'karthus': 'MIDDLE',
 'kassadin': 'MIDDLE',
 'katarina': 'MIDDLE',
 'kayle': 'MIDDLE',
 'kayn': 'JUNGLE',
 'kennen': 'TOP',
 'khazix': 'JUNGLE',
 'kindred': 'JUNGLE',
 'kled': 'TOP',
 'kogmaw': 'ADC',
 'leblanc': 'MIDDLE',
 'leesin': 'JUNGLE',
 'leona': 'UTILITY',
 'lillia': 'TOP',
 'lissandra': 'MIDDLE',
 'lucian': 'ADC',
 'lulu': 'UTILITY',
 'lux': 'MIDDLE',
 'malphite': 'UTILITY',
 'malzahar': 'MIDDLE',
 'maokai': 'TOP',
 'masteryi': 'JUNGLE',
 'missfortune': 'ADC',
 'mordekaiser': 'TOP',
 'morgana': 'UTILITY',
 'nami': 'UTILITY',
 'nasus': 'TOP',
 'nautilus': 'UTILITY',
 'neeko': 'UTILITY',
 'nidalee': 'JUNGLE',
 'nocturne': 'JUNGLE',
 'nunu': 'JUNGLE',
 'olaf': 'TOP',
 'orianna': 'MIDDLE',
 'ornn': 'TOP',
 'pantheon': 'TOP',
 'poppy': 'TOP',
 'pyke': 'UTILITY',
 'qiyana': 'JUNGLE',
 'quinn': 'TOP',
 'rakan': 'UTILITY',
 'rammus': 'JUNGLE',
 'reksai': 'JUNGLE',
 'rell': 'UTILITY',
 'renekton': 'MIDDLE',
 'rengar': 'TOP',
 'riven': 'TOP',
 'rumble': 'TOP',
 'ryze': 'TOP',
 'samira': 'ADC',
 'sejuani': 'TOP',
 'senna': 'ADC',
 'seraphine': 'UTILITY',
 'sett': 'TOP',
 'shaco': 'UTILITY',
 'shen': 'TOP',
 'shyvana': 'TOP',
 'singed': 'TOP',
 'sion': 'TOP',
 'sivir': 'ADC',
 'skarner': 'TOP',
 'sona': 'UTILITY',
 'soraka': 'UTILITY',
 'swain': 'MIDDLE',
 'sylas': 'TOP',
 'syndra': 'MIDDLE',
 'tahmkench': 'TOP',
 'taliyah': 'JUNGLE',
 'talon': 'MIDDLE',
 'taric': 'UTILITY',
 'teemo': 'TOP',
 'thresh': 'UTILITY',
 'tristana': 'ADC',
 'trundle': 'TOP',
 'tryndamere': 'MIDDLE',
 'twistedfate': 'MIDDLE',
 'twitch': 'ADC',
 'udyr': 'JUNGLE',
 'urgot': 'TOP',
 'varus': 'ADC',
 'vayne': 'TOP',
 'veigar': 'ADC',
 'velkoz': 'UTILITY',
 'vex': 'UTILITY',
 'vi': 'JUNGLE',
 'viego': 'JUNGLE',
 'viktor': 'TOP',
 'vladimir': 'TOP',
 'volibear': 'TOP',
 'warwick': 'TOP',
 'wukong': 'JUNGLE',
 'xayah': 'ADC',
 'xerath': 'UTILITY',
 'xinzhao': 'JUNGLE',
 'yasuo': 'ADC',
 'yone': 'MIDDLE',
 'yorick': 'TOP',
 'yuumi': 'UTILITY',
 'zac': 'JUNGLE',
 'zed': 'JUNGLE',
 'ziggs': 'MIDDLE',
 'zilean': 'MIDDLE',
 'zoe': 'MIDDLE',
 'zyra': 'UTILITY'}

In [21]:
for index in range(champion_role_df.shape[0]):
    champ_name = champion_role_df['Name'][index]
    real_role = champion_role_df['Role'][index]
    if (real_role != can_flex_pick.get(champ_name)):
        can_flex_pick[champ_name] = True
        
can_flex_pick

{'aatrox': 'TOP',
 'ahri': 'MIDDLE',
 'akali': True,
 'akshan': True,
 'alistar': 'UTILITY',
 'amumu': True,
 'anivia': True,
 'annie': 'MIDDLE',
 'aphelios': 'ADC',
 'ashe': 'ADC',
 'aurelionsol': 'MIDDLE',
 'azir': 'MIDDLE',
 'bard': 'UTILITY',
 'blitzcrank': 'UTILITY',
 'brand': True,
 'braum': 'UTILITY',
 'caitlyn': 'ADC',
 'camille': 'TOP',
 'cassiopeia': True,
 'chogath': True,
 'corki': 'MIDDLE',
 'darius': 'TOP',
 'diana': True,
 'drmundo': 'TOP',
 'draven': 'ADC',
 'ekko': True,
 'elise': 'JUNGLE',
 'evelynn': 'JUNGLE',
 'ezreal': 'ADC',
 'fiddlesticks': 'JUNGLE',
 'fiora': 'TOP',
 'fizz': 'MIDDLE',
 'galio': True,
 'gangplank': True,
 'garen': 'TOP',
 'gnar': 'TOP',
 'gragas': True,
 'graves': True,
 'gwen': True,
 'hecarim': 'JUNGLE',
 'heimerdinger': True,
 'illaoi': 'TOP',
 'irelia': True,
 'ivern': 'JUNGLE',
 'janna': 'UTILITY',
 'jarvaniv': 'JUNGLE',
 'jax': True,
 'jayce': True,
 'jhin': 'ADC',
 'jinx': 'ADC',
 'kaisa': 'ADC',
 'kalista': 'ADC',
 'karma': 'UTILITY',
 'karthus': True,
 'kassadin': 'MIDDLE',
 'katarina': 'MIDDLE',
 'kayle': True,
 'kayn': 'JUNGLE',
 'kennen': True,
 'khazix': 'JUNGLE',
 'kindred': 'JUNGLE',
 'kled': 'TOP',
 'kogmaw': 'ADC',
 'leblanc': 'MIDDLE',
 'leesin': 'JUNGLE',
 'leona': 'UTILITY',
 'lillia': True,
 'lissandra': 'MIDDLE',
 'lucian': 'ADC',
 'lulu': 'UTILITY',
 'lux': True,
 'malphite': True,
 'malzahar': 'MIDDLE',
 'maokai': True,
 'masteryi': 'JUNGLE',
 'missfortune': 'ADC',
 'mordekaiser': 'TOP',
 'morgana': 'UTILITY',
 'nami': 'UTILITY',
 'nasus': 'TOP',
 'nautilus': 'UTILITY',
 'neeko': True,
 'nidalee': 'JUNGLE',
 'nocturne': 'JUNGLE',
 'nunu': 'JUNGLE',
 'olaf': True,
 'orianna': 'MIDDLE',
 'ornn': 'TOP',
 'pantheon': True,
 'poppy': True,
 'pyke': 'UTILITY',
 'qiyana': True,
 'quinn': 'TOP',
 'rakan': 'UTILITY',
 'rammus': 'JUNGLE',
 'reksai': 'JUNGLE',
 'rell': 'UTILITY',
 'renekton': True,
 'rengar': True,
 'riven': 'TOP',
 'rumble': True,
 'ryze': True,
 'samira': 'ADC',
 'sejuani': True,
 'senna': True,
 'seraphine': True,
 'sett': 'TOP',
 'shaco': True,
 'shen': 'TOP',
 'shyvana': True,
 'singed': 'TOP',
 'sion': 'TOP',
 'sivir': 'ADC',
 'skarner': True,
 'sona': 'UTILITY',
 'soraka': 'UTILITY',
 'swain': True,
 'sylas': True,
 'syndra': 'MIDDLE',
 'tahmkench': 'TOP',
 'taliyah': True,
 'talon': True,
 'taric': 'UTILITY',
 'teemo': 'TOP',
 'thresh': 'UTILITY',
 'tristana': 'ADC',
 'trundle': True,
 'tryndamere': True,
 'twistedfate': 'MIDDLE',
 'twitch': 'ADC',
 'udyr': 'JUNGLE',
 'urgot': 'TOP',
 'varus': 'ADC',
 'vayne': True,
 'veigar': True,
 'velkoz': True,
 'vex': True,
 'vi': 'JUNGLE',
 'viego': 'JUNGLE',
 'viktor': True,
 'vladimir': True,
 'volibear': True,
 'warwick': True,
 'wukong': True,
 'xayah': 'ADC',
 'xerath': True,
 'xinzhao': 'JUNGLE',
 'yasuo': True,
 'yone': True,
 'yorick': 'TOP',
 'yuumi': 'UTILITY',
 'zac': 'JUNGLE',
 'zed': True,
 'ziggs': True,
 'zilean': True,
 'zoe': 'MIDDLE',
 'zyra': 'UTILITY',
 nan: True}

In [22]:
for key, value in can_flex_pick.items():
    can_flex_pick[key] = (value==True)
    
can_flex_pick

{'aatrox': False,
 'ahri': False,
 'akali': True,
 'akshan': True,
 'alistar': False,
 'amumu': True,
 'anivia': True,
 'annie': False,
 'aphelios': False,
 'ashe': False,
 'aurelionsol': False,
 'azir': False,
 'bard': False,
 'blitzcrank': False,
 'brand': True,
 'braum': False,
 'caitlyn': False,
 'camille': False,
 'cassiopeia': True,
 'chogath': True,
 'corki': False,
 'darius': False,
 'diana': True,
 'drmundo': False,
 'draven': False,
 'ekko': True,
 'elise': False,
 'evelynn': False,
 'ezreal': False,
 'fiddlesticks': False,
 'fiora': False,
 'fizz': False,
 'galio': True,
 'gangplank': True,
 'garen': False,
 'gnar': False,
 'gragas': True,
 'graves': True,
 'gwen': True,
 'hecarim': False,
 'heimerdinger': True,
 'illaoi': False,
 'irelia': True,
 'ivern': False,
 'janna': False,
 'jarvaniv': False,
 'jax': True,
 'jayce': True,
 'jhin': False,
 'jinx': False,
 'kaisa': False,
 'kalista': False,
 'karma': False,
 'karthus': True,
 'kassadin': False,
 'katarina': False,
 'kayle': True,
 'kayn': False,
 'kennen': True,
 'khazix': False,
 'kindred': False,
 'kled': False,
 'kogmaw': False,
 'leblanc': False,
 'leesin': False,
 'leona': False,
 'lillia': True,
 'lissandra': False,
 'lucian': False,
 'lulu': False,
 'lux': True,
 'malphite': True,
 'malzahar': False,
 'maokai': True,
 'masteryi': False,
 'missfortune': False,
 'mordekaiser': False,
 'morgana': False,
 'nami': False,
 'nasus': False,
 'nautilus': False,
 'neeko': True,
 'nidalee': False,
 'nocturne': False,
 'nunu': False,
 'olaf': True,
 'orianna': False,
 'ornn': False,
 'pantheon': True,
 'poppy': True,
 'pyke': False,
 'qiyana': True,
 'quinn': False,
 'rakan': False,
 'rammus': False,
 'reksai': False,
 'rell': False,
 'renekton': True,
 'rengar': True,
 'riven': False,
 'rumble': True,
 'ryze': True,
 'samira': False,
 'sejuani': True,
 'senna': True,
 'seraphine': True,
 'sett': False,
 'shaco': True,
 'shen': False,
 'shyvana': True,
 'singed': False,
 'sion': False,
 'sivir': False,
 'skarner': True,
 'sona': False,
 'soraka': False,
 'swain': True,
 'sylas': True,
 'syndra': False,
 'tahmkench': False,
 'taliyah': True,
 'talon': True,
 'taric': False,
 'teemo': False,
 'thresh': False,
 'tristana': False,
 'trundle': True,
 'tryndamere': True,
 'twistedfate': False,
 'twitch': False,
 'udyr': False,
 'urgot': False,
 'varus': False,
 'vayne': True,
 'veigar': True,
 'velkoz': True,
 'vex': True,
 'vi': False,
 'viego': False,
 'viktor': True,
 'vladimir': True,
 'volibear': True,
 'warwick': True,
 'wukong': True,
 'xayah': False,
 'xerath': True,
 'xinzhao': False,
 'yasuo': True,
 'yone': True,
 'yorick': False,
 'yuumi': False,
 'zac': False,
 'zed': True,
 'ziggs': True,
 'zilean': True,
 'zoe': False,
 'zyra': False,
 nan: True}

In [23]:
synergy_counters_df['best_partners'] = synergy_counters_df['best_partners'].str.lower()
synergy_counters_df['my_champion'] = synergy_counters_df['my_champion'].str.lower()
synergy_counters_df['worst_counters'] = synergy_counters_df['worst_counters'].str.lower()

synergy_counters_df

,my_champion,ideal_role,win_rate(%),ban_rate(%),best_partners,worst_counters
0,aatrox,TOP,50.26%,2.01%,"soraka, diana","garen, riven"
1,ahri,MIDDLE,50.04%,1.05%,"twitch, soraka, hecarim","kassadin, viktor"
2,akali,MIDDLE,48.32%,12.24%,"kindred, rammus, nami, sejuani, warwick","kassadin, galio, anivia, shen, ahri"
3,akshan,MIDDLE,50.49%,21.56%,"brand, zac, gwen, shen","qiyana, malphite"
4,alistar,UTILITY,49.86%,0.88%,"qiyana, shen","soraka, morgana"
...,...,...,...,...,...,...
152,zed,MIDDLE,50.76%,41.96%,"shen, ashe, soraka, brand, ornn, nunu, hecarim...","shaco, qiyana"
153,ziggs,BOTTOM,53.10%,0.60%,"kha'zix, kayn",jhin
154,zilean,MIDDLE,53.06%,1.26%,"shen, darius, jax, kha'zix, katarina","soraka, sona, janna"
155,zoe,MIDDLE,50.20%,1.45%,"hecarim, pyke, blitzcrank","lux, vex"
156,zyra,UTILITY,50.11%,1.98%,"kayn, jhin","soraka, blitzcrank"

In [24]:
synergy_counters_df['best_partners'] = synergy_counters_df['best_partners'].str.replace("nunu & willump","nunu", regex=True)
synergy_counters_df['my_champion'] = synergy_counters_df['my_champion'].str.replace("nunu & willump","nunu", regex=True)
synergy_counters_df['worst_counters'] = synergy_counters_df['worst_counters'].str.replace("nunu & willump","nunu", regex=True)

synergy_counters_df

,my_champion,ideal_role,win_rate(%),ban_rate(%),best_partners,worst_counters
0,aatrox,TOP,50.26%,2.01%,"soraka, diana","garen, riven"
1,ahri,MIDDLE,50.04%,1.05%,"twitch, soraka, hecarim","kassadin, viktor"
2,akali,MIDDLE,48.32%,12.24%,"kindred, rammus, nami, sejuani, warwick","kassadin, galio, anivia, shen, ahri"
3,akshan,MIDDLE,50.49%,21.56%,"brand, zac, gwen, shen","qiyana, malphite"
4,alistar,UTILITY,49.86%,0.88%,"qiyana, shen","soraka, morgana"
...,...,...,...,...,...,...
152,zed,MIDDLE,50.76%,41.96%,"shen, ashe, soraka, brand, ornn, nunu, hecarim...","shaco, qiyana"
153,ziggs,BOTTOM,53.10%,0.60%,"kha'zix, kayn",jhin
154,zilean,MIDDLE,53.06%,1.26%,"shen, darius, jax, kha'zix, katarina","soraka, sona, janna"
155,zoe,MIDDLE,50.20%,1.45%,"hecarim, pyke, blitzcrank","lux, vex"
156,zyra,UTILITY,50.11%,1.98%,"kayn, jhin","soraka, blitzcrank"

In [25]:
synergy_counters_df['my_champion'].unique()

array(['aatrox', 'ahri', 'akali', 'akshan', 'alistar', 'amumu', 'anivia',
       'annie', 'aphelios', 'ashe', 'aurelion sol', 'azir', 'bard',
       'blitzcrank', 'brand', 'braum', 'caitlyn', 'camille', 'cassiopeia',
       "cho'gath", 'corki', 'darius', 'diana', 'dr. mundo', 'draven',
       'ekko', 'elise', 'evelynn', 'ezreal', 'fiddlesticks', 'fiora',
       'fizz', 'galio', 'gangplank', 'garen', 'gnar', 'gragas', 'graves',
       'gwen', 'hecarim', 'heimerdinger', 'illaoi', 'irelia', 'ivern',
       'janna', 'jarvan iv', 'jax', 'jayce', 'jhin', 'jinx', "kai'sa",
       'kalista', 'karma', 'karthus', 'kassadin', 'katarina', 'kayle',
       'kayn', 'kennen', "kha'zix", 'kindred', 'kled', "kog'maw",
       'leblanc', 'lee sin', 'leona', 'lillia', 'lissandra', 'lucian',
       'lulu', 'lux', 'malphite', 'malzahar', 'maokai', 'master yi',
       'miss fortune', 'mordekaiser', 'morgana', 'nami', 'nasus',
       'nautilus', 'neeko', 'nidalee', 'nocturne', 'nunu', 'olaf',
       'orianna', 'ornn', 'pantheon', 'poppy', 'pyke', 'qiyana', 'quinn',
       'rakan', 'rammus', "rek'sai", 'rell', 'renekton', 'rengar',
       'riven', 'rumble', 'ryze', 'samira', 'sejuani', 'senna',
       'seraphine', 'sett', 'shaco', 'shen', 'shyvana', 'singed', 'sion',
       'sivir', 'skarner', 'sona', 'soraka', 'swain', 'sylas', 'syndra',
       'tahm kench', 'taliyah', 'talon', 'taric', 'teemo', 'thresh',
       'tristana', 'trundle', 'tryndamere', 'twisted fate', 'twitch',
       'udyr', 'urgot', 'varus', 'vayne', 'veigar', "vel'koz", 'vex',
       'vi', 'viego', 'viktor', 'vladimir', 'volibear', 'warwick',
       'wukong', 'xayah', 'xerath', 'xin zhao', 'yasuo', 'yone', 'yorick',
       'yuumi', 'zac', 'zed', 'ziggs', 'zilean', 'zoe', 'zyra'],
      dtype=object)

In [26]:
synergy_counters_df['best_partners'] = synergy_counters_df['best_partners'].str.replace("gankplank","gangplank", regex=True)
synergy_counters_df['my_champion'] = synergy_counters_df['my_champion'].str.replace("gankplank","gangplank", regex=True)
synergy_counters_df['worst_counters'] = synergy_counters_df['worst_counters'].str.replace("gankplank","gangplank", regex=True)

synergy_counters_df

,my_champion,ideal_role,win_rate(%),ban_rate(%),best_partners,worst_counters
0,aatrox,TOP,50.26%,2.01%,"soraka, diana","garen, riven"
1,ahri,MIDDLE,50.04%,1.05%,"twitch, soraka, hecarim","kassadin, viktor"
2,akali,MIDDLE,48.32%,12.24%,"kindred, rammus, nami, sejuani, warwick","kassadin, galio, anivia, shen, ahri"
3,akshan,MIDDLE,50.49%,21.56%,"brand, zac, gwen, shen","qiyana, malphite"
4,alistar,UTILITY,49.86%,0.88%,"qiyana, shen","soraka, morgana"
...,...,...,...,...,...,...
152,zed,MIDDLE,50.76%,41.96%,"shen, ashe, soraka, brand, ornn, nunu, hecarim...","shaco, qiyana"
153,ziggs,BOTTOM,53.10%,0.60%,"kha'zix, kayn",jhin
154,zilean,MIDDLE,53.06%,1.26%,"shen, darius, jax, kha'zix, katarina","soraka, sona, janna"
155,zoe,MIDDLE,50.20%,1.45%,"hecarim, pyke, blitzcrank","lux, vex"
156,zyra,UTILITY,50.11%,1.98%,"kayn, jhin","soraka, blitzcrank"

In [27]:
synergy_counters_df['best_partners'] = synergy_counters_df['best_partners'].str.replace("quiyana","qiyana", regex=True)
synergy_counters_df['my_champion'] = synergy_counters_df['my_champion'].str.replace("quiyana","qiyana", regex=True)
synergy_counters_df['worst_counters'] = synergy_counters_df['worst_counters'].str.replace("quiyana","qiyana", regex=True)

synergy_counters_df

,my_champion,ideal_role,win_rate(%),ban_rate(%),best_partners,worst_counters
0,aatrox,TOP,50.26%,2.01%,"soraka, diana","garen, riven"
1,ahri,MIDDLE,50.04%,1.05%,"twitch, soraka, hecarim","kassadin, viktor"
2,akali,MIDDLE,48.32%,12.24%,"kindred, rammus, nami, sejuani, warwick","kassadin, galio, anivia, shen, ahri"
3,akshan,MIDDLE,50.49%,21.56%,"brand, zac, gwen, shen","qiyana, malphite"
4,alistar,UTILITY,49.86%,0.88%,"qiyana, shen","soraka, morgana"
...,...,...,...,...,...,...
152,zed,MIDDLE,50.76%,41.96%,"shen, ashe, soraka, brand, ornn, nunu, hecarim...","shaco, qiyana"
153,ziggs,BOTTOM,53.10%,0.60%,"kha'zix, kayn",jhin
154,zilean,MIDDLE,53.06%,1.26%,"shen, darius, jax, kha'zix, katarina","soraka, sona, janna"
155,zoe,MIDDLE,50.20%,1.45%,"hecarim, pyke, blitzcrank","lux, vex"
156,zyra,UTILITY,50.11%,1.98%,"kayn, jhin","soraka, blitzcrank"

In [28]:
synergy_counters_df['best_partners'] = synergy_counters_df['best_partners'].str.replace("kayne","kayn", regex=True)
synergy_counters_df['my_champion'] = synergy_counters_df['my_champion'].str.replace("kayne","kayn", regex=True)
synergy_counters_df['worst_counters'] = synergy_counters_df['worst_counters'].str.replace("kayne","kayn", regex=True)

synergy_counters_df

,my_champion,ideal_role,win_rate(%),ban_rate(%),best_partners,worst_counters
0,aatrox,TOP,50.26%,2.01%,"soraka, diana","garen, riven"
1,ahri,MIDDLE,50.04%,1.05%,"twitch, soraka, hecarim","kassadin, viktor"
2,akali,MIDDLE,48.32%,12.24%,"kindred, rammus, nami, sejuani, warwick","kassadin, galio, anivia, shen, ahri"
3,akshan,MIDDLE,50.49%,21.56%,"brand, zac, gwen, shen","qiyana, malphite"
4,alistar,UTILITY,49.86%,0.88%,"qiyana, shen","soraka, morgana"
...,...,...,...,...,...,...
152,zed,MIDDLE,50.76%,41.96%,"shen, ashe, soraka, brand, ornn, nunu, hecarim...","shaco, qiyana"
153,ziggs,BOTTOM,53.10%,0.60%,"kha'zix, kayn",jhin
154,zilean,MIDDLE,53.06%,1.26%,"shen, darius, jax, kha'zix, katarina","soraka, sona, janna"
155,zoe,MIDDLE,50.20%,1.45%,"hecarim, pyke, blitzcrank","lux, vex"
156,zyra,UTILITY,50.11%,1.98%,"kayn, jhin","soraka, blitzcrank"

In [29]:
synergy_counters_df['best_partners'] = synergy_counters_df['best_partners'].str.replace("'","", regex=True)
synergy_counters_df['my_champion'] = synergy_counters_df['my_champion'].str.replace("'","", regex=True)
synergy_counters_df['worst_counters'] = synergy_counters_df['worst_counters'].str.replace("'","", regex=True)

synergy_counters_df

,my_champion,ideal_role,win_rate(%),ban_rate(%),best_partners,worst_counters
0,aatrox,TOP,50.26%,2.01%,"soraka, diana","garen, riven"
1,ahri,MIDDLE,50.04%,1.05%,"twitch, soraka, hecarim","kassadin, viktor"
2,akali,MIDDLE,48.32%,12.24%,"kindred, rammus, nami, sejuani, warwick","kassadin, galio, anivia, shen, ahri"
3,akshan,MIDDLE,50.49%,21.56%,"brand, zac, gwen, shen","qiyana, malphite"
4,alistar,UTILITY,49.86%,0.88%,"qiyana, shen","soraka, morgana"
...,...,...,...,...,...,...
152,zed,MIDDLE,50.76%,41.96%,"shen, ashe, soraka, brand, ornn, nunu, hecarim...","shaco, qiyana"
153,ziggs,BOTTOM,53.10%,0.60%,"khazix, kayn",jhin
154,zilean,MIDDLE,53.06%,1.26%,"shen, darius, jax, khazix, katarina","soraka, sona, janna"
155,zoe,MIDDLE,50.20%,1.45%,"hecarim, pyke, blitzcrank","lux, vex"
156,zyra,UTILITY,50.11%,1.98%,"kayn, jhin","soraka, blitzcrank"

In [30]:
synergy_counters_df['best_partners'] = synergy_counters_df['best_partners'].str.replace(".","", regex=True)
synergy_counters_df['my_champion'] = synergy_counters_df['my_champion'].str.replace(".","", regex=True)
synergy_counters_df['worst_counters'] = synergy_counters_df['worst_counters'].str.replace(".","", regex=True)

synergy_counters_df

,my_champion,ideal_role,win_rate(%),ban_rate(%),best_partners,worst_counters
0,aatrox,TOP,50.26%,2.01%,"soraka, diana","garen, riven"
1,ahri,MIDDLE,50.04%,1.05%,"twitch, soraka, hecarim","kassadin, viktor"
2,akali,MIDDLE,48.32%,12.24%,"kindred, rammus, nami, sejuani, warwick","kassadin, galio, anivia, shen, ahri"
3,akshan,MIDDLE,50.49%,21.56%,"brand, zac, gwen, shen","qiyana, malphite"
4,alistar,UTILITY,49.86%,0.88%,"qiyana, shen","soraka, morgana"
...,...,...,...,...,...,...
152,zed,MIDDLE,50.76%,41.96%,"shen, ashe, soraka, brand, ornn, nunu, hecarim...","shaco, qiyana"
153,ziggs,BOTTOM,53.10%,0.60%,"khazix, kayn",jhin
154,zilean,MIDDLE,53.06%,1.26%,"shen, darius, jax, khazix, katarina","soraka, sona, janna"
155,zoe,MIDDLE,50.20%,1.45%,"hecarim, pyke, blitzcrank","lux, vex"
156,zyra,UTILITY,50.11%,1.98%,"kayn, jhin","soraka, blitzcrank"

In [31]:
synergy_counters_df['best_partners'] = synergy_counters_df['best_partners'].str.replace(" ","", regex=True)
synergy_counters_df['my_champion'] = synergy_counters_df['my_champion'].str.replace(" ","", regex=True)
synergy_counters_df['worst_counters'] = synergy_counters_df['worst_counters'].str.replace(" ","", regex=True)

synergy_counters_df

,my_champion,ideal_role,win_rate(%),ban_rate(%),best_partners,worst_counters
0,aatrox,TOP,50.26%,2.01%,"soraka,diana","garen,riven"
1,ahri,MIDDLE,50.04%,1.05%,"twitch,soraka,hecarim","kassadin,viktor"
2,akali,MIDDLE,48.32%,12.24%,"kindred,rammus,nami,sejuani,warwick","kassadin,galio,anivia,shen,ahri"
3,akshan,MIDDLE,50.49%,21.56%,"brand,zac,gwen,shen","qiyana,malphite"
4,alistar,UTILITY,49.86%,0.88%,"qiyana,shen","soraka,morgana"
...,...,...,...,...,...,...
152,zed,MIDDLE,50.76%,41.96%,"shen,ashe,soraka,brand,ornn,nunu,hecarim,tahmk...","shaco,qiyana"
153,ziggs,BOTTOM,53.10%,0.60%,"khazix,kayn",jhin
154,zilean,MIDDLE,53.06%,1.26%,"shen,darius,jax,khazix,katarina","soraka,sona,janna"
155,zoe,MIDDLE,50.20%,1.45%,"hecarim,pyke,blitzcrank","lux,vex"
156,zyra,UTILITY,50.11%,1.98%,"kayn,jhin","soraka,blitzcrank"

In [32]:
synergy_counters_df['win_rate(%)'] = synergy_counters_df['win_rate(%)'].str.replace("%","", regex=True)
synergy_counters_df['ban_rate(%)'] = synergy_counters_df['ban_rate(%)'].str.replace("%","", regex=True)

synergy_counters_df

,my_champion,ideal_role,win_rate(%),ban_rate(%),best_partners,worst_counters
0,aatrox,TOP,50.26,2.01,"soraka,diana","garen,riven"
1,ahri,MIDDLE,50.04,1.05,"twitch,soraka,hecarim","kassadin,viktor"
2,akali,MIDDLE,48.32,12.24,"kindred,rammus,nami,sejuani,warwick","kassadin,galio,anivia,shen,ahri"
3,akshan,MIDDLE,50.49,21.56,"brand,zac,gwen,shen","qiyana,malphite"
4,alistar,UTILITY,49.86,0.88,"qiyana,shen","soraka,morgana"
...,...,...,...,...,...,...
152,zed,MIDDLE,50.76,41.96,"shen,ashe,soraka,brand,ornn,nunu,hecarim,tahmk...","shaco,qiyana"
153,ziggs,BOTTOM,53.10,0.60,"khazix,kayn",jhin
154,zilean,MIDDLE,53.06,1.26,"shen,darius,jax,khazix,katarina","soraka,sona,janna"
155,zoe,MIDDLE,50.20,1.45,"hecarim,pyke,blitzcrank","lux,vex"
156,zyra,UTILITY,50.11,1.98,"kayn,jhin","soraka,blitzcrank"

In [33]:
synergy_counters_df.isna().sum()

my_champion       0
ideal_role        0
win_rate(%)       0
ban_rate(%)       0
best_partners     0
worst_counters    0
dtype: int64

# Feature engineering

In [34]:
synergy_counters_df['best_partners'] = [champion_list.split(",") for champion_list in synergy_counters_df['best_partners']]
synergy_counters_df['worst_counters'] = [champion_list.split(",") for champion_list in synergy_counters_df['worst_counters']]

synergy_counters_df

,my_champion,ideal_role,win_rate(%),ban_rate(%),best_partners,worst_counters
0,aatrox,TOP,50.26,2.01,"[soraka, diana]","[garen, riven]"
1,ahri,MIDDLE,50.04,1.05,"[twitch, soraka, hecarim]","[kassadin, viktor]"
2,akali,MIDDLE,48.32,12.24,"[kindred, rammus, nami, sejuani, warwick]","[kassadin, galio, anivia, shen, ahri]"
3,akshan,MIDDLE,50.49,21.56,"[brand, zac, gwen, shen]","[qiyana, malphite]"
4,alistar,UTILITY,49.86,0.88,"[qiyana, shen]","[soraka, morgana]"
...,...,...,...,...,...,...
152,zed,MIDDLE,50.76,41.96,"[shen, ashe, soraka, brand, ornn, nunu, hecari...","[shaco, qiyana]"
153,ziggs,BOTTOM,53.10,0.60,"[khazix, kayn]",[jhin]
154,zilean,MIDDLE,53.06,1.26,"[shen, darius, jax, khazix, katarina]","[soraka, sona, janna]"
155,zoe,MIDDLE,50.20,1.45,"[hecarim, pyke, blitzcrank]","[lux, vex]"
156,zyra,UTILITY,50.11,1.98,"[kayn, jhin]","[soraka, blitzcrank]"

In [35]:
synergy_counters_df['my_champion'].unique()

array(['aatrox', 'ahri', 'akali', 'akshan', 'alistar', 'amumu', 'anivia',
       'annie', 'aphelios', 'ashe', 'aurelionsol', 'azir', 'bard',
       'blitzcrank', 'brand', 'braum', 'caitlyn', 'camille', 'cassiopeia',
       'chogath', 'corki', 'darius', 'diana', 'drmundo', 'draven', 'ekko',
       'elise', 'evelynn', 'ezreal', 'fiddlesticks', 'fiora', 'fizz',
       'galio', 'gangplank', 'garen', 'gnar', 'gragas', 'graves', 'gwen',
       'hecarim', 'heimerdinger', 'illaoi', 'irelia', 'ivern', 'janna',
       'jarvaniv', 'jax', 'jayce', 'jhin', 'jinx', 'kaisa', 'kalista',
       'karma', 'karthus', 'kassadin', 'katarina', 'kayle', 'kayn',
       'kennen', 'khazix', 'kindred', 'kled', 'kogmaw', 'leblanc',
       'leesin', 'leona', 'lillia', 'lissandra', 'lucian', 'lulu', 'lux',
       'malphite', 'malzahar', 'maokai', 'masteryi', 'missfortune',
       'mordekaiser', 'morgana', 'nami', 'nasus', 'nautilus', 'neeko',
       'nidalee', 'nocturne', 'nunu', 'olaf', 'orianna', 'ornn',
       'pantheon', 'poppy', 'pyke', 'qiyana', 'quinn', 'rakan', 'rammus',
       'reksai', 'rell', 'renekton', 'rengar', 'riven', 'rumble', 'ryze',
       'samira', 'sejuani', 'senna', 'seraphine', 'sett', 'shaco', 'shen',
       'shyvana', 'singed', 'sion', 'sivir', 'skarner', 'sona', 'soraka',
       'swain', 'sylas', 'syndra', 'tahmkench', 'taliyah', 'talon',
       'taric', 'teemo', 'thresh', 'tristana', 'trundle', 'tryndamere',
       'twistedfate', 'twitch', 'udyr', 'urgot', 'varus', 'vayne',
       'veigar', 'velkoz', 'vex', 'vi', 'viego', 'viktor', 'vladimir',
       'volibear', 'warwick', 'wukong', 'xayah', 'xerath', 'xinzhao',
       'yasuo', 'yone', 'yorick', 'yuumi', 'zac', 'zed', 'ziggs',
       'zilean', 'zoe', 'zyra'], dtype=object)

In [36]:
synergy_counters_df['my_champion'] = [champion_name_id_dict.get(champion) for champion in synergy_counters_df['my_champion']]

synergy_counters_df

,my_champion,ideal_role,win_rate(%),ban_rate(%),best_partners,worst_counters
0,266,TOP,50.26,2.01,"[soraka, diana]","[garen, riven]"
1,103,MIDDLE,50.04,1.05,"[twitch, soraka, hecarim]","[kassadin, viktor]"
2,84,MIDDLE,48.32,12.24,"[kindred, rammus, nami, sejuani, warwick]","[kassadin, galio, anivia, shen, ahri]"
3,166,MIDDLE,50.49,21.56,"[brand, zac, gwen, shen]","[qiyana, malphite]"
4,12,UTILITY,49.86,0.88,"[qiyana, shen]","[soraka, morgana]"
...,...,...,...,...,...,...
152,238,MIDDLE,50.76,41.96,"[shen, ashe, soraka, brand, ornn, nunu, hecari...","[shaco, qiyana]"
153,115,BOTTOM,53.10,0.60,"[khazix, kayn]",[jhin]
154,26,MIDDLE,53.06,1.26,"[shen, darius, jax, khazix, katarina]","[soraka, sona, janna]"
155,142,MIDDLE,50.20,1.45,"[hecarim, pyke, blitzcrank]","[lux, vex]"
156,143,UTILITY,50.11,1.98,"[kayn, jhin]","[soraka, blitzcrank]"

In [37]:
synergy_counters_df.isna().sum()

my_champion       0
ideal_role        0
win_rate(%)       0
ban_rate(%)       0
best_partners     0
worst_counters    0
dtype: int64

In [38]:
converted_list = []

for champion_list in synergy_counters_df['best_partners']:
    row_list = []
    for champion in champion_list:
        row_list.append( champion_name_id_dict.get(champion) )
    converted_list.append(row_list)

synergy_counters_df['best_partners'] = converted_list
synergy_counters_df

,my_champion,ideal_role,win_rate(%),ban_rate(%),best_partners,worst_counters
0,266,TOP,50.26,2.01,"[16, 131]","[garen, riven]"
1,103,MIDDLE,50.04,1.05,"[29, 16, 120]","[kassadin, viktor]"
2,84,MIDDLE,48.32,12.24,"[203, 33, 267, 113, 19]","[kassadin, galio, anivia, shen, ahri]"
3,166,MIDDLE,50.49,21.56,"[63, 154, 887, 98]","[qiyana, malphite]"
4,12,UTILITY,49.86,0.88,"[246, 98]","[soraka, morgana]"
...,...,...,...,...,...,...
152,238,MIDDLE,50.76,41.96,"[98, 22, 16, 63, 516, 20, 120, 223, 30]","[shaco, qiyana]"
153,115,BOTTOM,53.10,0.60,"[121, 141]",[jhin]
154,26,MIDDLE,53.06,1.26,"[98, 122, 24, 121, 55]","[soraka, sona, janna]"
155,142,MIDDLE,50.20,1.45,"[120, 555, 53]","[lux, vex]"
156,143,UTILITY,50.11,1.98,"[141, 202]","[soraka, blitzcrank]"

In [39]:
converted_list = []

for champion_list in synergy_counters_df['worst_counters']:
    row_list = []
    for champion in champion_list:
        row_list.append( champion_name_id_dict.get(champion) )
    converted_list.append(row_list)

synergy_counters_df['worst_counters'] = converted_list
synergy_counters_df

,my_champion,ideal_role,win_rate(%),ban_rate(%),best_partners,worst_counters
0,266,TOP,50.26,2.01,"[16, 131]","[86, 92]"
1,103,MIDDLE,50.04,1.05,"[29, 16, 120]","[38, 112]"
2,84,MIDDLE,48.32,12.24,"[203, 33, 267, 113, 19]","[38, 3, 34, 98, 103]"
3,166,MIDDLE,50.49,21.56,"[63, 154, 887, 98]","[246, 54]"
4,12,UTILITY,49.86,0.88,"[246, 98]","[16, 25]"
...,...,...,...,...,...,...
152,238,MIDDLE,50.76,41.96,"[98, 22, 16, 63, 516, 20, 120, 223, 30]","[35, 246]"
153,115,BOTTOM,53.10,0.60,"[121, 141]",[202]
154,26,MIDDLE,53.06,1.26,"[98, 122, 24, 121, 55]","[16, 37, 40]"
155,142,MIDDLE,50.20,1.45,"[120, 555, 53]","[99, 711]"
156,143,UTILITY,50.11,1.98,"[141, 202]","[16, 53]"

In [40]:
train_df

,is_player_win,player_champ,player_champ_id,player_position,ally_champ1,ally_champ1_id,ally_champ1_position,ally_champ2,ally_champ2_id,ally_champ2_position,enemy_champ1,enemy_champ1_id,enemy_champ1_position,enemy_champ2,enemy_champ2_id,enemy_champ2_position
0,False,sylas,517,TOP,XinZhao,5,JUNGLE,Viktor,112,MIDDLE,Kennen,85,TOP,Diana,131,JUNGLE
1,False,sylas,517,TOP,XinZhao,5,JUNGLE,Viktor,112,MIDDLE,Kennen,85,TOP,Yasuo,157,MIDDLE
2,False,sylas,517,TOP,XinZhao,5,JUNGLE,Viktor,112,MIDDLE,Kennen,85,TOP,Jhin,202,BOTTOM
3,False,sylas,517,TOP,XinZhao,5,JUNGLE,Viktor,112,MIDDLE,Kennen,85,TOP,Yuumi,350,UTILITY
4,False,sylas,517,TOP,XinZhao,5,JUNGLE,Viktor,112,MIDDLE,Diana,131,JUNGLE,Yasuo,157,MIDDLE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59495,False,sylas,517,MIDDLE,Kaisa,145,BOTTOM,Nami,267,UTILITY,Viego,234,JUNGLE,Draven,119,BOTTOM
59496,False,sylas,517,MIDDLE,Kaisa,145,BOTTOM,Nami,267,UTILITY,Viego,234,JUNGLE,Blitzcrank,53,UTILITY
59497,False,sylas,517,MIDDLE,Kaisa,145,BOTTOM,Nami,267,UTILITY,Viktor,112,MIDDLE,Draven,119,BOTTOM
59498,False,sylas,517,MIDDLE,Kaisa,145,BOTTOM,Nami,267,UTILITY,Viktor,112,MIDDLE,Blitzcrank,53,UTILITY
59499,False,sylas,517,MIDDLE,Kaisa,145,BOTTOM,Nami,267,UTILITY,Draven,119,BOTTOM,Blitzcrank,53,UTILITY

Add columns: win_rate(%), best_partner, synergy(%), is_countered_by, countered(%) into df

In [41]:
synergy_counters_dict = synergy_counters_df.set_index('my_champion').to_dict()
synergy_counters_dict

{'ideal_role': {266: 'TOP',
  103: 'MIDDLE',
  84: 'MIDDLE',
  166: 'MIDDLE',
  12: 'UTILITY',
  32: 'JUNGLE',
  34: 'MIDDLE',
  1: 'MIDDLE',
  523: 'BOTTOM',
  22: 'BOTTOM',
  136: 'MIDDLE',
  268: 'MIDDLE',
  432: 'UTILITY',
  53: 'UTILITY',
  63: 'UTILITY',
  201: 'UTILITY',
  51: 'BOTTOM',
  164: 'TOP',
  69: 'TOP',
  31: 'TOP',
  42: 'MIDDLE',
  122: 'TOP',
  131: 'MIDDLE',
  36: 'TOP',
  119: 'BOTTOM',
  245: 'MIDDLE',
  60: 'JUNGLE',
  28: 'JUNGLE',
  81: 'BOTTOM',
  9: 'JUNGLE',
  114: 'TOP',
  105: 'MIDDLE',
  3: 'MIDDLE',
  41: 'TOP',
  86: 'TOP',
  150: 'TOP',
  79: 'TOP',
  104: 'JUNGLE',
  887: 'TOP',
  120: 'JUNGLE',
  74: 'BOTTOM',
  420: 'TOP',
  39: 'TOP',
  427: 'JUNGLE',
  40: 'UTILITY',
  59: 'JUNGLE',
  24: 'TOP',
  126: 'MIDDLE',
  202: 'BOTTOM',
  222: 'BOTTOM',
  145: 'BOTTOM',
  429: 'BOTTOM',
  43: 'UTILITY',
  30: 'BOTTOM',
  38: 'MIDDLE',
  55: 'MIDDLE',
  10: 'MIDDLE',
  141: 'JUNGLE',
  85: 'MIDDLE',
  121: 'JUNGLE',
  203: 'JUNGLE',
  240: 'TOP',
  96: 'BOTTOM',
  7: 'MIDDLE',
  64: 'JUNGLE',
  89: 'UTILITY',
  876: 'JUNGLE',
  127: 'MIDDLE',
  236: 'BOTTOM',
  117: 'UTILITY',
  99: 'MIDDLE',
  54: 'TOP',
  90: 'MIDDLE',
  57: 'TOP',
  11: 'JUNGLE',
  21: 'BOTTOM',
  82: 'TOP',
  25: 'UTILITY',
  267: 'UTILITY',
  75: 'TOP',
  111: 'UTILITY',
  518: 'UTILITY',
  76: 'JUNGLE',
  56: 'JUNGLE',
  20: 'JUNGLE',
  2: 'JUNGLE',
  61: 'MIDDLE',
  516: 'TOP',
  80: 'TOP',
  78: 'TOP',
  555: 'UTILITY',
  246: 'MIDDLE',
  133: 'TOP',
  497: 'UTILITY',
  33: 'JUNGLE',
  421: 'JUNGLE',
  526: 'UTILITY',
  58: 'MIDDLE',
  107: 'TOP',
  92: 'TOP',
  68: 'MIDDLE',
  13: 'MIDDLE',
  360: 'BOTTOM',
  113: 'TOP',
  235: 'BOTTOM',
  147: 'BOTTOM',
  875: 'TOP',
  35: 'UTILITY',
  98: 'TOP',
  102: 'TOP',
  27: 'TOP',
  14: 'TOP',
  15: 'BOTTOM',
  72: 'JUNGLE',
  37: 'UTILITY',
  16: 'UTILITY',
  50: 'BOTTOM',
  517: 'MIDDLE',
  134: 'MIDDLE',
  223: 'TOP',
  163: 'UTILITY',
  91: 'MIDDLE',
  44: 'UTILITY',
  17: 'TOP',
  412: 'UTILITY',
  18: 'BOTTOM',
  48: 'TOP',
  23: 'TOP',
  4: 'MIDDLE',
  29: 'BOTTOM',
  77: 'JUNGLE',
  6: 'TOP',
  110: 'BOTTOM',
  67: 'BOTTOM',
  45: 'BOTTOM',
  161: 'MIDDLE',
  711: 'MIDDLE',
  254: 'JUNGLE',
  234: 'JUNGLE',
  112: 'MIDDLE',
  8: 'MIDDLE',
  106: 'JUNGLE',
  19: 'TOP',
  62: 'JUNGLE',
  498: 'BOTTOM',
  101: 'MIDDLE',
  5: 'JUNGLE',
  157: 'BOTTOM',
  777: 'MIDDLE',
  83: 'TOP',
  350: 'UTILITY',
  154: 'JUNGLE',
  238: 'MIDDLE',
  115: 'BOTTOM',
  26: 'MIDDLE',
  142: 'MIDDLE',
  143: 'UTILITY'},
 'win_rate(%)': {266: '50.26',
  103: '50.04',
  84: '48.32',
  166: '50.49',
  12: '49.86',
  32: '50.82',
  34: '51.85',
  1: '51.19',
  523: '47.67',
  22: '50.54',
  136: '50.55',
  268: '47.72',
  432: '50.26',
  53: '51.88',
  63: '50.94',
  201: '49.90',
  51: '49.82',
  164: '50.93',
  69: '52.56',
  31: '52.60',
  42: '48.74',
  122: '50.88',
  131: '52.80',
  36: '51.14',
  119: '50.74',
  245: '49.98',
  60: '48.24',
  28: '50.26',
  81: '49.55',
  9: '49.98',
  114: '50.55',
  105: '52.19',
  3: '49.31',
  41: '48.47',
  86: '50.27',
  150: '50.44',
  79: '48.69',
  104: '49.40',
  887: '49.96',
  120: '51.67',
  74: '51.66',
  420: '49.58',
  39: '49.03',
  427: '50.00',
  40: '50.13',
  59: '51.23',
  24: '50.88',
  126: '50.93',
  202: '51.22',
  222: '51.10',
  145: '48.96',
  429: '49.53',
  43: '48.84',
  30: '54.42',
  38: '50.77',
  55: '50.26',
  10: '51.51',
  141: '50.01',
  85: '51.52',
  121: '50.62',
  203: '49.66',
  240: '49.99',
  96: '52.54',
  7: '48.77',
  64: '48.50',
  89: '49.56',
  876: '50.76',
  127: '51.36',
  236: '49.32',
  117: '50.89',
  99: '51.02',
  54: '51.31',
  90: '50.23',
  57: '49.72',
  11: '50.10',
  21: '50.49',
  82: '48.60',
  25: '48.56',
  267: '50.78',
  75: '50.95',
  111: '49.43',
  518: '48.69',
  76: '48.61',
  56: '47.47',
  20: '51.89',
  2: '48.51',
  61: '50.05',
  516: '51.37',
  80: '48.88',
  78: '49.67',
  555: '49.16',
  246: '50.77',
  133: '51.17',
  497: '50.12',
  33: '52.52',
  421: '52.91',
  526: '51.26',
  58: '52.35',
  107: '47.07',
  92: '51.39',
  68: '51.07',
  13: '46.27',
  360: '49.01',
  113: '51.23',
  235: '52.42',
  147: '55.10',
  875: '48.86',
  35: '52.23',
  98: '53.05',
  102: '50.35',
  27: '50.03',
  14: '51.49',
  15: '49.96',
  72: '50.18',
  37: '51.64',
  16: '52.73',
  50: '55.14',
  517: '48.91',
  134: '48.97',
  223: '51.57',
  163: '51.57',
  91: '50.67',
  44: '50.93',
  17: '49.56',
  412: '48.82',
  18: '49.40',
  48: '54.78',
  23: '51.09',
  4: '49.30',
  29: '52.00',
  77: '49.54',
  6: '54.20',
  110: '47.32',
  67: '52.44',
  45: '50.68',
  161: '52.90',
  711: '51.12',
  254: '51.43',
  234: '50.23',
  112: '51.77',
  8: '51.29',
  106: '47.04',
  19: '49.40',
  62: '51.36',
  498: '50.83',
  101: '51.44',
  5: '49.52',
  157: '49.89',
  777: '48.36',
  83: '50.70',
  350: '47.76',
  154: '50.97',
  238: '50.76',
  115: '53.10',
  26: '53.06',
  142: '50.20',
  143: '50.11'},
 'ban_rate(%)': {266: '2.01',
  103: '1.05',
  84: '12.24',
  166: '21.56',
  12: '0.88',
  32: '1.64',
  34: '2.95',
  1: '0.72',
  523: '1.61',
  22: '1.24',
  136: '0.26',
  268: '0.23',
  432: '0.95',
  53: '17.73',
  63: '6.12',
  201: '0.42',
  51: '18.23',
  164: '7.70',
  69: '1.38',
  31: '1.00',
  42: '3.60',
  122: '15.00',
  131: '9.31',
  36: '3.09',
  119: '13.27',
  245: '3.98',
  60: '1.71',
  28: '9.18',
  81: '4.86',
  9: '2.76',
  114: '11.10',
  105: '4.89',
  3: '0.56',
  41: '4.33',
  86: '2.32',
  150: '0.60',
  79: '0.29',
  104: '10.40',
  887: '2.21',
  120: '5.48',
  74: '0.88',
  420: '2.90',
  39: '24.66',
  427: '0.36',
  40: '0.44',
  59: '0.52',
  24: '11.51',
  126: '4.69',
  202: '5.48',
  222: '6.28',
  145: '6.18',
  429: '0.29',
  43: '1.86',
  30: '3.87',
  38: '15.08',
  55: '10.40',
  10: '1.14',
  141: '12.18',
  85: '0.69',
  121: '7.08',
  203: '2.29',
  240: '0.86',
  96: '0.49',
  7: '12.85',
  64: '16.43',
  89: '14.25',
  876: '0.99',
  127: '0.68',
  236: '3.59',
  117: '24.81',
  99: '12.39',
  54: '4.07',
  90: '3.05',
  57: '0.18',
  11: '19.30',
  21: '2.23',
  82: '5.88',
  25: '27.09',
  267: '2.67',
  75: '4.69',
  111: '7.75',
  518: '0.34',
  76: '2.76',
  56: '3.86',
  20: '2.28',
  2: '0.88',
  61: '0.19',
  516: '0.41',
  80: '0.99',
  78: '2.16',
  555: '12.73',
  246: '12.48',
  133: '0.56',
  497: '0.46',
  33: '3.44',
  421: '1.80',
  526: '0.53',
  58: '2.12',
  107: '2.36',
  92: '2.40',
  68: '0.27',
  13: '0.23',
  360: '11.41',
  113: '0.33',
  235: '1.67',
  147: '1.10',
  875: '7.57',
  35: '18.11',
  98: '1.65',
  102: '0.28',
  27: '0.40',
  14: '0.69',
  15: '0.48',
  72: '0.16',
  37: '1.01',
  16: '3.97',
  50: '1.78',
  517: '4.26',
  134: '1.22',
  223: '14.47',
  163: '0.18',
  91: '22.88',
  44: '0.17',
  17: '10.20',
  412: '6.89',
  18: '2.45',
  48: '2.50',
  23: '11.68',
  4: '1.47',
  29: '4.00',
  77: '0.70',
  6: '1.99',
  110: '0.22',
  67: '22.33',
  45: '1.37',
  161: '0.54',
  711: '17.95',
  254: '3.58',
  234: '13.97',
  112: '15.84',
  8: '5.46',
  106: '1.61',
  19: '7.07',
  62: '0.68',
  498: '0.57',
  101: '5.53',
  5: '3.94',
  157: '25.06',
  777: '29.08',
  83: '2.36',
  350: '28.21',
  154: '2.04',
  238: '41.96',
  115: '0.60',
  26: '1.26',
  142: '1.45',
  143: '1.98'},
 'best_partners': {266: [16, 131],
  103: [29, 16, 120],
  84: [203, 33, 267, 113, 19],
  166: [63, 154, 887, 98],
  12: [246, 98],
  32: [267],
  34: [164, 16, 53, 5, 86, 29],
  1: [267],
  523: [41, 98],
  22: [238, 245, 516, 711, 16],
  136: [117],
  268: [202],
  432: [121, 98, 114],
  53: [516, 498, 34, 9, 254, 421, 48],
  63: [166, 238, 246, 24, 202],
  201: [222, 164],
  51: [161, 20, 91, 427, 53],
  164: [34, 9, 21, 119, 20],
  69: [67],
  31: [267, 202],
  42: [121, 516, 6, 150, 111, 246, 67, 11, 254],
  122: [16, 121, 203, 26, 29, 28, 34],
  131: [92, 98, 246, 266, 103, 240],
  36: [25, 67],
  119: [164, 38, 103, 98, 254, 245, 59, 16, 121, 134],
  245: [22, 121, 104, 16, 82],
  60: [246, 157, 111, 164],
  28: [41, 122],
  81: [80, 105, 57, 92, 246, 16],
  9: [16, 53, 164, 360],
  114: [421, 432, 16, 76, 38, 20],
  105: [121, 202, 350, 104],
  3: [120, 117],
  41: [28, 246, 53, 4, 12, 8, 20],
  86: [34, 154, 267],
  150: [42, 29],
  79: [67],
  104: [223, 36, 105, 164, 245, 122],
  887: [166, 120, 222],
  120: [142, 10, 75, 67, 103, 37, 238, 23, 14, 887, 29],
  74: [21, 99],
  420: [99],
  39: [None, 34, 38, 8, 20, 19, 113],
  427: [202, 51],
  40: [154, 711, 34, 5],
  59: [34],
  24: [90],
  126: [37],
  202: [90],
  222: [32],
  145: [115],
  429: [254],
  43: [5],
  30: [166],
  38: [143],
  55: [10],
  10: [48],
  141: [86],
  85: [67],
  121: [34],
  203: [201],
  240: [101],
  96: [20],
  7: [96],
  64: [69],
  89: [3],
  876: [16],
  127: [5],
  236: [37],
  117: [161],
  99: [166],
  54: [48],
  90: [24],
  57: [121],
  11: [90],
  21: [36],
  82: [48],
  25: [69],
  267: [33],
  75: [50],
  111: [115],
  518: [67],
  76: [38],
  56: [16],
  20: [37],
  2: [350],
  61: [48],
  516: [37],
  80: [223],
  78: [37],
  555: [142, 203, 34, 8, 48, 246],
  246: [115, 517, 60, 17, 36, 131, 21, 516],
  133: [202],
  497: [99, 154, 121, 98],
  33: [222],
  421: [711, 16, 350, 114, 111, 53],
  526: [131, 112, 222],
  58: [112, 25, 53, 5, 238],
  107: [711, 117, 222],
  92: [711, 21, 131, 246, 101],
  68: [99, 222],
  13: [25, 99, 53],
  360: [9, 98, 127, 16, 154, 20, 8],
  113: [29, 117],
  235: [8, 98],
  147: [32, 36, 48, 54],
  875: [5, 29, 34, 497, 20, 421, 55],
  35: [16, 38, 67, 86, 24],
  98: [134, 154, 26, 432, 238, 5, 101],
  102: [111, 238, 112],
  27: [67, 117],
  14: [16, 121, 120, 67, 91],
  15: [86, 101, 25],
  72: [254],
  37: [39, 5, 236, 20, 120],
  16: [17, 34, 20, 90, 9, 421, 122, 516, 238, 498, 35],
  50: [48, 99, 33],
  517: [246, 23, 91, 98, 36],
  134: [98, 16, 119, 222, 164],
  223: [29, 104],
  163: [145],
  91: [16, 517, 14, 223],
  44: [67, 222, 11],
  17: [16, 37, 254, 48],
  412: [34, 78, 91, 29, 33],
  18: [117, 267],
  48: [67, 37, 22, 34],
  23: [517, 25, 120, 38, 43],
  4: [101, 16, 41, 121],
  29: [103, 121, 223, 122, 10, 34, 16, 98, 154, 421, 75, 8, 875],
  77: [99, 117, 25],
  6: [711, 67, 99, 89, 117, 121, 111],
  110: [53, 16],
  67: [48, 6, 91, 27, 36, 101, 79],
  45: [75, 36],
  161: [51, 122, 75],
  711: [421, 6, 40, 92, 107, 20, 22, 29, 21, 121],
  254: [53, 8, 122, 98, 119, 223],
  234: [103, 34, 164, 526, 22],
  112: [15, 62, 78, 6, 53],
  8: [20, 254, 98, 121, 21],
  106: [53, 157, 555, 121],
  19: [98, 202],
  62: [112],
  498: [53, 99, 16],
  101: [4, 421, 78, 121],
  5: [101, 34, 37, 38, 98, 516, 40],
  157: [60, 115, 516, 498],
  777: [15, 75, 122, 38, 164, 98, 76, 421],
  83: [99],
  350: [421, 98, 105, 45, 103, 238],
  154: [98, 40, 497, 166, 29, 86, 21, 67, 246, 122],
  238: [98, 22, 16, 63, 516, 20, 120, 223, 30],
  115: [121, 141],
  26: [98, 122, 24, 121, 55],
  142: [120, 555, 53],
  143: [141, 202]},
 'worst_counters': {266: [86, 92],
  103: [38, 112],
  84: [38, 3, 34, 98, 103],
  166: [246, 54],
  12: [16, 25],
  32: [131],
  34: [246],
  1: [112],
  523: [29],
  22: [21],
  136: [112],
  268: [238],
  432: [16, 267, 53],
  53: [101, 25],
  63: [117],
  201: [25, 99],
  51: [115],
  164: [17, 78, 10, 98],
  69: [134, 238],
  31: [164],
  42: [38, 4, 246, 8],
  122: [36],
  131: [19, 77, 5],
  36: [777, 266, 164],
  119: [96, 523],
  245: [238, 20, 157],
  60: [141, 91],
  28: [20, 91],
  81: [30],
  9: [35, 5, 121],
  114: [75, 78, 54, 6, 98],
  105: [8, 238, 38],
  3: [8, 245, 777],
  41: [92, 166, 14, 31, 516],
  86: [223, 164, 122, 114],
  150: [164, 223],
  79: [254, 33, 5, 141, 78],
  104: [48, 203],
  887: [98, 24, 122, 114],
  120: [421, 203],
  74: [99, 75, 86],
  420: [83, 10, 82],
  39: [711, 23, 98, 42, 157],
  427: [28, 56, 113],
  40: [117, 16],
  59: [36],
  24: [36],
  126: [67],
  202: [96],
  222: [67],
  145: [21],
  429: [37],
  43: [11],
  30: [69],
  38: [131],
  55: [36],
  10: [11],
  141: [75],
  85: [20],
  121: [107],
  203: [114],
  240: [67],
  96: [34],
  7: [32],
  64: [37],
  89: [11],
  876: [112],
  127: [115],
  236: [37],
  117: [131],
  99: [517],
  54: [105],
  90: [101],
  57: [48],
  11: [498],
  21: [777],
  82: [16],
  25: [37],
  267: [517],
  75: [37],
  111: [157],
  518: [19],
  76: [20],
  56: [48],
  20: [234],
  2: [42],
  61: [86],
  516: [111],
  80: [19],
  78: [526],
  555: [497, 432, 26],
  246: [35, 141, 121, 120, 142],
  133: [54, 223],
  497: [40, 25, 89],
  33: [48, 254],
  421: [48, 254, 5],
  526: [25, 16, 267],
  58: [223, 41, 98, 266],
  107: [234],
  92: [54, 6, 23],
  68: [875, 86, 223],
  13: [90, 45, 42],
  360: [498],
  113: [48, 19, 154],
  235: [432, 16, 555, 101, 89],
  147: [25, 99, 16, 63],
  875: [None, 36, 92],
  35: [254, 421, 131],
  98: [266, 36, 6, 122],
  102: [254, 20],
  27: [6, 36, 75],
  14: [122, 39, 164],
  15: [29, 67, 119],
  72: [81],
  37: [53, 235, 16],
  16: [99, 350],
  50: [267, 117],
  517: [98, 69],
  134: [246, 238, 166],
  223: [106, 98],
  163: [11],
  91: [78, 131, 20, 120, 154],
  44: [63, 117],
  17: [98, 83, 75],
  412: [57, 44],
  18: [67, 222],
  48: [20, 121],
  23: [164, 54, 223, 14],
  4: [34, 55, 246],
  29: [22],
  77: [48],
  6: [122],
  110: [29],
  67: [429, 222],
  45: [90, 34],
  161: [53, 16, 267],
  711: [34, 45],
  254: [121, 20, 5],
  234: [60, 33, 28, 48],
  112: [101, 3],
  8: [90, 142, 99],
  106: [24],
  19: [91, 245],
  62: [164],
  498: [202, 29],
  101: [26, 157, 432, 16, 555],
  5: [59, 48],
  157: [127, 246, 45],
  777: [114, 101, 103, 99],
  83: [98, 6],
  350: [497, 53, 89],
  154: [203, 421, 20, 5],
  238: [35, 246],
  115: [202],
  26: [16, 37, 40],
  142: [99, 711],
  143: [16, 53]}}

In [42]:
train_df['win_rate(%)'] = [synergy_counters_dict.get('win_rate(%)').get(champID) for champID in train_df['player_champ_id']]
train_df['ban_rate(%)'] = [synergy_counters_dict.get('ban_rate(%)').get(champID) for champID in train_df['player_champ_id']]
train_df['best_partners'] = [synergy_counters_dict.get('best_partners').get(champID) for champID in train_df['player_champ_id']]
train_df['worst_counters'] = [synergy_counters_dict.get('worst_counters').get(champID) for champID in train_df['player_champ_id']]
train_df['player_ideal_role'] = [synergy_counters_dict.get('ideal_role').get(champID) for champID in train_df['player_champ_id']]
train_df['ally1_ideal_role'] = [synergy_counters_dict.get('ideal_role').get(champID) for champID in train_df['ally_champ1_id']]
train_df['ally2_ideal_role'] = [synergy_counters_dict.get('ideal_role').get(champID) for champID in train_df['ally_champ2_id']]
train_df['enemy1_ideal_role'] = [synergy_counters_dict.get('ideal_role').get(champID) for champID in train_df['enemy_champ1_id']]
train_df['enemy2_ideal_role'] = [synergy_counters_dict.get('ideal_role').get(champID) for champID in train_df['enemy_champ2_id']]
train_df["can_flex_pick"] = [can_flex_pick.get(champName) for champName in train_df['player_champ']]

train_df

,is_player_win,player_champ,player_champ_id,player_position,ally_champ1,ally_champ1_id,ally_champ1_position,ally_champ2,ally_champ2_id,ally_champ2_position,...,win_rate(%),ban_rate(%),best_partners,worst_counters,player_ideal_role,ally1_ideal_role,ally2_ideal_role,enemy1_ideal_role,enemy2_ideal_role,can_flex_pick
0,False,sylas,517,TOP,XinZhao,5,JUNGLE,Viktor,112,MIDDLE,...,48.91,4.26,"[246, 23, 91, 98, 36]","[98, 69]",MIDDLE,JUNGLE,MIDDLE,MIDDLE,MIDDLE,True
1,False,sylas,517,TOP,XinZhao,5,JUNGLE,Viktor,112,MIDDLE,...,48.91,4.26,"[246, 23, 91, 98, 36]","[98, 69]",MIDDLE,JUNGLE,MIDDLE,MIDDLE,BOTTOM,True
2,False,sylas,517,TOP,XinZhao,5,JUNGLE,Viktor,112,MIDDLE,...,48.91,4.26,"[246, 23, 91, 98, 36]","[98, 69]",MIDDLE,JUNGLE,MIDDLE,MIDDLE,BOTTOM,True
3,False,sylas,517,TOP,XinZhao,5,JUNGLE,Viktor,112,MIDDLE,...,48.91,4.26,"[246, 23, 91, 98, 36]","[98, 69]",MIDDLE,JUNGLE,MIDDLE,MIDDLE,UTILITY,True
4,False,sylas,517,TOP,XinZhao,5,JUNGLE,Viktor,112,MIDDLE,...,48.91,4.26,"[246, 23, 91, 98, 36]","[98, 69]",MIDDLE,JUNGLE,MIDDLE,MIDDLE,BOTTOM,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59495,False,sylas,517,MIDDLE,Kaisa,145,BOTTOM,Nami,267,UTILITY,...,48.91,4.26,"[246, 23, 91, 98, 36]","[98, 69]",MIDDLE,BOTTOM,UTILITY,JUNGLE,BOTTOM,True
59496,False,sylas,517,MIDDLE,Kaisa,145,BOTTOM,Nami,267,UTILITY,...,48.91,4.26,"[246, 23, 91, 98, 36]","[98, 69]",MIDDLE,BOTTOM,UTILITY,JUNGLE,UTILITY,True
59497,False,sylas,517,MIDDLE,Kaisa,145,BOTTOM,Nami,267,UTILITY,...,48.91,4.26,"[246, 23, 91, 98, 36]","[98, 69]",MIDDLE,BOTTOM,UTILITY,MIDDLE,BOTTOM,True
59498,False,sylas,517,MIDDLE,Kaisa,145,BOTTOM,Nami,267,UTILITY,...,48.91,4.26,"[246, 23, 91, 98, 36]","[98, 69]",MIDDLE,BOTTOM,UTILITY,MIDDLE,UTILITY,True
59499,False,sylas,517,MIDDLE,Kaisa,145,BOTTOM,Nami,267,UTILITY,...,48.91,4.26,"[246, 23, 91, 98, 36]","[98, 69]",MIDDLE,BOTTOM,UTILITY,BOTTOM,UTILITY,True

In [43]:
train_df.shape[0]

59500

In [44]:
train_df['win_rate>50%'] = [float(train_df['win_rate(%)'][index])>50 for index in range(train_df.shape[0])]
train_df['ban_rate>10%'] = [float(train_df['ban_rate(%)'][index])>10 for index in range(train_df.shape[0])]

train_df

,is_player_win,player_champ,player_champ_id,player_position,ally_champ1,ally_champ1_id,ally_champ1_position,ally_champ2,ally_champ2_id,ally_champ2_position,...,best_partners,worst_counters,player_ideal_role,ally1_ideal_role,ally2_ideal_role,enemy1_ideal_role,enemy2_ideal_role,can_flex_pick,win_rate>50%,ban_rate>10%
0,False,sylas,517,TOP,XinZhao,5,JUNGLE,Viktor,112,MIDDLE,...,"[246, 23, 91, 98, 36]","[98, 69]",MIDDLE,JUNGLE,MIDDLE,MIDDLE,MIDDLE,True,False,False
1,False,sylas,517,TOP,XinZhao,5,JUNGLE,Viktor,112,MIDDLE,...,"[246, 23, 91, 98, 36]","[98, 69]",MIDDLE,JUNGLE,MIDDLE,MIDDLE,BOTTOM,True,False,False
2,False,sylas,517,TOP,XinZhao,5,JUNGLE,Viktor,112,MIDDLE,...,"[246, 23, 91, 98, 36]","[98, 69]",MIDDLE,JUNGLE,MIDDLE,MIDDLE,BOTTOM,True,False,False
3,False,sylas,517,TOP,XinZhao,5,JUNGLE,Viktor,112,MIDDLE,...,"[246, 23, 91, 98, 36]","[98, 69]",MIDDLE,JUNGLE,MIDDLE,MIDDLE,UTILITY,True,False,False
4,False,sylas,517,TOP,XinZhao,5,JUNGLE,Viktor,112,MIDDLE,...,"[246, 23, 91, 98, 36]","[98, 69]",MIDDLE,JUNGLE,MIDDLE,MIDDLE,BOTTOM,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59495,False,sylas,517,MIDDLE,Kaisa,145,BOTTOM,Nami,267,UTILITY,...,"[246, 23, 91, 98, 36]","[98, 69]",MIDDLE,BOTTOM,UTILITY,JUNGLE,BOTTOM,True,False,False
59496,False,sylas,517,MIDDLE,Kaisa,145,BOTTOM,Nami,267,UTILITY,...,"[246, 23, 91, 98, 36]","[98, 69]",MIDDLE,BOTTOM,UTILITY,JUNGLE,UTILITY,True,False,False
59497,False,sylas,517,MIDDLE,Kaisa,145,BOTTOM,Nami,267,UTILITY,...,"[246, 23, 91, 98, 36]","[98, 69]",MIDDLE,BOTTOM,UTILITY,MIDDLE,BOTTOM,True,False,False
59498,False,sylas,517,MIDDLE,Kaisa,145,BOTTOM,Nami,267,UTILITY,...,"[246, 23, 91, 98, 36]","[98, 69]",MIDDLE,BOTTOM,UTILITY,MIDDLE,UTILITY,True,False,False
59499,False,sylas,517,MIDDLE,Kaisa,145,BOTTOM,Nami,267,UTILITY,...,"[246, 23, 91, 98, 36]","[98, 69]",MIDDLE,BOTTOM,UTILITY,BOTTOM,UTILITY,True,False,False

In [45]:
train_df['player_in_ideal_role'] = [train_df['player_position'][index]==train_df['player_ideal_role'][index] for index in range(train_df.shape[0])]
train_df['ally1_in_ideal_role'] = [train_df['player_position'][index]==train_df['ally1_ideal_role'][index] for index in range(train_df.shape[0])]
train_df['ally2_in_ideal_role'] = [train_df['player_position'][index]==train_df['ally2_ideal_role'][index] for index in range(train_df.shape[0])]
train_df['enemy1_in_ideal_role'] = [train_df['player_position'][index]==train_df['enemy1_ideal_role'][index] for index in range(train_df.shape[0])]
train_df['enemy2_in_ideal_role'] = [train_df['player_position'][index]==train_df['enemy2_ideal_role'][index] for index in range(train_df.shape[0])]

train_df

,is_player_win,player_champ,player_champ_id,player_position,ally_champ1,ally_champ1_id,ally_champ1_position,ally_champ2,ally_champ2_id,ally_champ2_position,...,enemy1_ideal_role,enemy2_ideal_role,can_flex_pick,win_rate>50%,ban_rate>10%,player_in_ideal_role,ally1_in_ideal_role,ally2_in_ideal_role,enemy1_in_ideal_role,enemy2_in_ideal_role
0,False,sylas,517,TOP,XinZhao,5,JUNGLE,Viktor,112,MIDDLE,...,MIDDLE,MIDDLE,True,False,False,False,False,False,False,False
1,False,sylas,517,TOP,XinZhao,5,JUNGLE,Viktor,112,MIDDLE,...,MIDDLE,BOTTOM,True,False,False,False,False,False,False,False
2,False,sylas,517,TOP,XinZhao,5,JUNGLE,Viktor,112,MIDDLE,...,MIDDLE,BOTTOM,True,False,False,False,False,False,False,False
3,False,sylas,517,TOP,XinZhao,5,JUNGLE,Viktor,112,MIDDLE,...,MIDDLE,UTILITY,True,False,False,False,False,False,False,False
4,False,sylas,517,TOP,XinZhao,5,JUNGLE,Viktor,112,MIDDLE,...,MIDDLE,BOTTOM,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59495,False,sylas,517,MIDDLE,Kaisa,145,BOTTOM,Nami,267,UTILITY,...,JUNGLE,BOTTOM,True,False,False,True,False,False,False,False
59496,False,sylas,517,MIDDLE,Kaisa,145,BOTTOM,Nami,267,UTILITY,...,JUNGLE,UTILITY,True,False,False,True,False,False,False,False
59497,False,sylas,517,MIDDLE,Kaisa,145,BOTTOM,Nami,267,UTILITY,...,MIDDLE,BOTTOM,True,False,False,True,False,False,True,False
59498,False,sylas,517,MIDDLE,Kaisa,145,BOTTOM,Nami,267,UTILITY,...,MIDDLE,UTILITY,True,False,False,True,False,False,True,False
59499,False,sylas,517,MIDDLE,Kaisa,145,BOTTOM,Nami,267,UTILITY,...,BOTTOM,UTILITY,True,False,False,True,False,False,False,False

In [46]:
train_df['ally1_synergy'] = [(train_df['ally_champ1_id'][index] in train_df['best_partners'][index]) for index in range(train_df.shape[0])]
train_df['ally2_synergy'] = [(train_df['ally_champ2_id'][index] in train_df['best_partners'][index]) for index in range(train_df.shape[0])]

train_df

,is_player_win,player_champ,player_champ_id,player_position,ally_champ1,ally_champ1_id,ally_champ1_position,ally_champ2,ally_champ2_id,ally_champ2_position,...,can_flex_pick,win_rate>50%,ban_rate>10%,player_in_ideal_role,ally1_in_ideal_role,ally2_in_ideal_role,enemy1_in_ideal_role,enemy2_in_ideal_role,ally1_synergy,ally2_synergy
0,False,sylas,517,TOP,XinZhao,5,JUNGLE,Viktor,112,MIDDLE,...,True,False,False,False,False,False,False,False,False,False
1,False,sylas,517,TOP,XinZhao,5,JUNGLE,Viktor,112,MIDDLE,...,True,False,False,False,False,False,False,False,False,False
2,False,sylas,517,TOP,XinZhao,5,JUNGLE,Viktor,112,MIDDLE,...,True,False,False,False,False,False,False,False,False,False
3,False,sylas,517,TOP,XinZhao,5,JUNGLE,Viktor,112,MIDDLE,...,True,False,False,False,False,False,False,False,False,False
4,False,sylas,517,TOP,XinZhao,5,JUNGLE,Viktor,112,MIDDLE,...,True,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59495,False,sylas,517,MIDDLE,Kaisa,145,BOTTOM,Nami,267,UTILITY,...,True,False,False,True,False,False,False,False,False,False
59496,False,sylas,517,MIDDLE,Kaisa,145,BOTTOM,Nami,267,UTILITY,...,True,False,False,True,False,False,False,False,False,False
59497,False,sylas,517,MIDDLE,Kaisa,145,BOTTOM,Nami,267,UTILITY,...,True,False,False,True,False,False,True,False,False,False
59498,False,sylas,517,MIDDLE,Kaisa,145,BOTTOM,Nami,267,UTILITY,...,True,False,False,True,False,False,True,False,False,False
59499,False,sylas,517,MIDDLE,Kaisa,145,BOTTOM,Nami,267,UTILITY,...,True,False,False,True,False,False,False,False,False,False

In [47]:
train_df['ally1_synergy'].unique()

array([False,  True])

In [48]:
train_df['ally2_synergy'].unique()

array([False,  True])

In [49]:
train_df['countered_by_enemy1'] = [(train_df['enemy_champ1_id'][index] in train_df['worst_counters'][index]) for index in range(train_df.shape[0])]
train_df['countered_by_enemy2'] = [(train_df['enemy_champ2_id'][index] in train_df['worst_counters'][index]) for index in range(train_df.shape[0])]

train_df

,is_player_win,player_champ,player_champ_id,player_position,ally_champ1,ally_champ1_id,ally_champ1_position,ally_champ2,ally_champ2_id,ally_champ2_position,...,ban_rate>10%,player_in_ideal_role,ally1_in_ideal_role,ally2_in_ideal_role,enemy1_in_ideal_role,enemy2_in_ideal_role,ally1_synergy,ally2_synergy,countered_by_enemy1,countered_by_enemy2
0,False,sylas,517,TOP,XinZhao,5,JUNGLE,Viktor,112,MIDDLE,...,False,False,False,False,False,False,False,False,False,False
1,False,sylas,517,TOP,XinZhao,5,JUNGLE,Viktor,112,MIDDLE,...,False,False,False,False,False,False,False,False,False,False
2,False,sylas,517,TOP,XinZhao,5,JUNGLE,Viktor,112,MIDDLE,...,False,False,False,False,False,False,False,False,False,False
3,False,sylas,517,TOP,XinZhao,5,JUNGLE,Viktor,112,MIDDLE,...,False,False,False,False,False,False,False,False,False,False
4,False,sylas,517,TOP,XinZhao,5,JUNGLE,Viktor,112,MIDDLE,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59495,False,sylas,517,MIDDLE,Kaisa,145,BOTTOM,Nami,267,UTILITY,...,False,True,False,False,False,False,False,False,False,False
59496,False,sylas,517,MIDDLE,Kaisa,145,BOTTOM,Nami,267,UTILITY,...,False,True,False,False,False,False,False,False,False,False
59497,False,sylas,517,MIDDLE,Kaisa,145,BOTTOM,Nami,267,UTILITY,...,False,True,False,False,True,False,False,False,False,False
59498,False,sylas,517,MIDDLE,Kaisa,145,BOTTOM,Nami,267,UTILITY,...,False,True,False,False,True,False,False,False,False,False
59499,False,sylas,517,MIDDLE,Kaisa,145,BOTTOM,Nami,267,UTILITY,...,False,True,False,False,False,False,False,False,False,False

In [50]:
train_df['countered_by_enemy1'].unique()

array([False,  True])

In [51]:
train_df['countered_by_enemy2'].unique()

array([False,  True])

In [52]:
train_df = train_df.drop(columns=['player_champ', 'ally_champ1', 'ally_champ1_position', 'ally_champ2', 'ally_champ2_position', 'enemy_champ1', 'enemy_champ1_position', 'enemy_champ2', 'enemy_champ2_position', 'win_rate(%)', 'ban_rate(%)', 'best_partners', 'worst_counters', 'player_ideal_role', 'ally1_ideal_role', 'ally2_ideal_role', 'enemy1_ideal_role', 'enemy2_ideal_role'])
train_df

,is_player_win,player_champ_id,player_position,ally_champ1_id,ally_champ2_id,enemy_champ1_id,enemy_champ2_id,can_flex_pick,win_rate>50%,ban_rate>10%,player_in_ideal_role,ally1_in_ideal_role,ally2_in_ideal_role,enemy1_in_ideal_role,enemy2_in_ideal_role,ally1_synergy,ally2_synergy,countered_by_enemy1,countered_by_enemy2
0,False,517,TOP,5,112,85,131,True,False,False,False,False,False,False,False,False,False,False,False
1,False,517,TOP,5,112,85,157,True,False,False,False,False,False,False,False,False,False,False,False
2,False,517,TOP,5,112,85,202,True,False,False,False,False,False,False,False,False,False,False,False
3,False,517,TOP,5,112,85,350,True,False,False,False,False,False,False,False,False,False,False,False
4,False,517,TOP,5,112,131,157,True,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59495,False,517,MIDDLE,145,267,234,119,True,False,False,True,False,False,False,False,False,False,False,False
59496,False,517,MIDDLE,145,267,234,53,True,False,False,True,False,False,False,False,False,False,False,False
59497,False,517,MIDDLE,145,267,112,119,True,False,False,True,False,False,True,False,False,False,False,False
59498,False,517,MIDDLE,145,267,112,53,True,False,False,True,False,False,True,False,False,False,False,False
59499,False,517,MIDDLE,145,267,119,53,True,False,False,True,False,False,False,False,False,False,False,False

In [53]:
train_df["is_player_win"] = train_df["is_player_win"].astype(int)
train_df["win_rate>50%"] = train_df["win_rate>50%"].astype(int)
train_df["ban_rate>10%"] = train_df["ban_rate>10%"].astype(int)
train_df["player_in_ideal_role"] = train_df["player_in_ideal_role"].astype(int)
train_df["ally1_in_ideal_role"] = train_df["ally1_in_ideal_role"].astype(int)
train_df["ally2_in_ideal_role"] = train_df["ally2_in_ideal_role"].astype(int)
train_df["enemy1_in_ideal_role"] = train_df["enemy1_in_ideal_role"].astype(int)
train_df["enemy2_in_ideal_role"] = train_df["enemy2_in_ideal_role"].astype(int)
train_df["ally1_synergy"] = train_df["ally1_synergy"].astype(int)
train_df["ally2_synergy"] = train_df["ally2_synergy"].astype(int)
train_df["countered_by_enemy1"] = train_df["countered_by_enemy1"].astype(int)
train_df["countered_by_enemy2"] = train_df["countered_by_enemy2"].astype(int)
train_df["can_flex_pick"] = train_df["can_flex_pick"].astype(int)

train_df

,is_player_win,player_champ_id,player_position,ally_champ1_id,ally_champ2_id,enemy_champ1_id,enemy_champ2_id,can_flex_pick,win_rate>50%,ban_rate>10%,player_in_ideal_role,ally1_in_ideal_role,ally2_in_ideal_role,enemy1_in_ideal_role,enemy2_in_ideal_role,ally1_synergy,ally2_synergy,countered_by_enemy1,countered_by_enemy2
0,0,517,TOP,5,112,85,131,1,0,0,0,0,0,0,0,0,0,0,0
1,0,517,TOP,5,112,85,157,1,0,0,0,0,0,0,0,0,0,0,0
2,0,517,TOP,5,112,85,202,1,0,0,0,0,0,0,0,0,0,0,0
3,0,517,TOP,5,112,85,350,1,0,0,0,0,0,0,0,0,0,0,0
4,0,517,TOP,5,112,131,157,1,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59495,0,517,MIDDLE,145,267,234,119,1,0,0,1,0,0,0,0,0,0,0,0
59496,0,517,MIDDLE,145,267,234,53,1,0,0,1,0,0,0,0,0,0,0,0
59497,0,517,MIDDLE,145,267,112,119,1,0,0,1,0,0,1,0,0,0,0,0
59498,0,517,MIDDLE,145,267,112,53,1,0,0,1,0,0,1,0,0,0,0,0
59499,0,517,MIDDLE,145,267,119,53,1,0,0,1,0,0,0,0,0,0,0,0

# Data Modeling

In [54]:
train_df

,is_player_win,player_champ_id,player_position,ally_champ1_id,ally_champ2_id,enemy_champ1_id,enemy_champ2_id,can_flex_pick,win_rate>50%,ban_rate>10%,player_in_ideal_role,ally1_in_ideal_role,ally2_in_ideal_role,enemy1_in_ideal_role,enemy2_in_ideal_role,ally1_synergy,ally2_synergy,countered_by_enemy1,countered_by_enemy2
0,0,517,TOP,5,112,85,131,1,0,0,0,0,0,0,0,0,0,0,0
1,0,517,TOP,5,112,85,157,1,0,0,0,0,0,0,0,0,0,0,0
2,0,517,TOP,5,112,85,202,1,0,0,0,0,0,0,0,0,0,0,0
3,0,517,TOP,5,112,85,350,1,0,0,0,0,0,0,0,0,0,0,0
4,0,517,TOP,5,112,131,157,1,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59495,0,517,MIDDLE,145,267,234,119,1,0,0,1,0,0,0,0,0,0,0,0
59496,0,517,MIDDLE,145,267,234,53,1,0,0,1,0,0,0,0,0,0,0,0
59497,0,517,MIDDLE,145,267,112,119,1,0,0,1,0,0,1,0,0,0,0,0
59498,0,517,MIDDLE,145,267,112,53,1,0,0,1,0,0,1,0,0,0,0,0
59499,0,517,MIDDLE,145,267,119,53,1,0,0,1,0,0,0,0,0,0,0,0

In [55]:
from sklearn.model_selection import cross_val_score
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [56]:
X = train_df.drop(['player_champ_id'], axis=1)

y = train_df['player_champ_id']

In [57]:
X.shape

(59500, 18)

In [58]:
y.shape

(59500,)

In [59]:
X

,is_player_win,player_position,ally_champ1_id,ally_champ2_id,enemy_champ1_id,enemy_champ2_id,can_flex_pick,win_rate>50%,ban_rate>10%,player_in_ideal_role,ally1_in_ideal_role,ally2_in_ideal_role,enemy1_in_ideal_role,enemy2_in_ideal_role,ally1_synergy,ally2_synergy,countered_by_enemy1,countered_by_enemy2
0,0,TOP,5,112,85,131,1,0,0,0,0,0,0,0,0,0,0,0
1,0,TOP,5,112,85,157,1,0,0,0,0,0,0,0,0,0,0,0
2,0,TOP,5,112,85,202,1,0,0,0,0,0,0,0,0,0,0,0
3,0,TOP,5,112,85,350,1,0,0,0,0,0,0,0,0,0,0,0
4,0,TOP,5,112,131,157,1,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59495,0,MIDDLE,145,267,234,119,1,0,0,1,0,0,0,0,0,0,0,0
59496,0,MIDDLE,145,267,234,53,1,0,0,1,0,0,0,0,0,0,0,0
59497,0,MIDDLE,145,267,112,119,1,0,0,1,0,0,1,0,0,0,0,0
59498,0,MIDDLE,145,267,112,53,1,0,0,1,0,0,1,0,0,0,0,0
59499,0,MIDDLE,145,267,119,53,1,0,0,1,0,0,0,0,0,0,0,0

In [60]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state=0)

In [61]:
!pip3 install --upgrade category_encoders

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Requirement already satisfied: category_encoders in /usr/local/lib/python3.9/site-packages (2.3.0)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.9/site-packages (from category_encoders) (1.1.3)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.9/site-packages (from category_encoders) (0.24.1)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.9/site-packages (from category_encoders) (1.6.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.9/site-packages (from category_encoders) (0.12.2)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.9/site-packages (from category_encoders) (1.19.5)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.9/site-packages (from category_encoders) (0.5.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.9/site-packages (from pandas>=0.21.1->category_encoders) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.9/site-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied: six in /usr/local/lib/python3.9/site-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.9/site-packages (from scikit-learn>=0.20.0->category_encoders) (1.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.9/site-packages (from scikit-learn>=0.20.0->category_encoders) (2.1.0)

In [62]:
# import category encoders
import category_encoders as ce

# encode variables with ordinal encoding
encoder = ce.OrdinalEncoder(cols=['player_position'])

X_train = encoder.fit_transform(X_train)
X_test = encoder.transform(X_test)

In [63]:
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler()

X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [64]:
from sklearn.tree import DecisionTreeClassifier
tree_classifier = DecisionTreeClassifier(max_depth=8, random_state=0)
tree_classifier.fit(X_train, y_train)

train_accuracy = tree_classifier.score(X_train, y_train)
print(f'Train accuracy = {round(train_accuracy, 3)*100}%')

test_accuracy = tree_classifier.score(X_test, y_test)
print(f'Test accuracy = {round(test_accuracy, 3)*100}%')

Train accuracy = 57.49999999999999%
Test accuracy = 56.39999999999999%

In [65]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import LeaveOneOut

# cv = LeaveOneOut()
cv = 10
accuracies = cross_val_score(estimator = tree_classifier, X = X_train, y = y_train, cv = cv)
print("Accuracy: {:.2f} %".format(accuracies.mean()*100))
print("Standard Deviation: {:.2f} %".format(accuracies.std()*100))

/usr/local/lib/python3.9/site-packages/sklearn/model_selection/_split.py:666: UserWarning: The least populated class in y has only 5 members, which is less than n_splits=10.
  warnings.warn(("The least populated class in y has only %d"

Accuracy: 56.91 %
Standard Deviation: 0.62 %

In [75]:
data = pd.DataFrame(np.array([[1, "BOTTOM", "thresh" , "leesin", "jinx", "nautilus", 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0]]),
                             columns=X.columns)

data['ally_champ1_id'][0] = champion_name_id_dict.get( data['ally_champ1_id'][0] )
data['ally_champ2_id'][0] = champion_name_id_dict.get( data['ally_champ2_id'][0] )
data['enemy_champ1_id'][0] = champion_name_id_dict.get( data['enemy_champ1_id'][0] )
data['enemy_champ2_id'][0] = champion_name_id_dict.get( data['enemy_champ2_id'][0] )

data

,is_player_win,player_position,ally_champ1_id,ally_champ2_id,enemy_champ1_id,enemy_champ2_id,can_flex_pick,win_rate>50%,ban_rate>10%,player_in_ideal_role,ally1_in_ideal_role,ally2_in_ideal_role,enemy1_in_ideal_role,enemy2_in_ideal_role,ally1_synergy,ally2_synergy,countered_by_enemy1,countered_by_enemy2
0,1,BOTTOM,412,64,222,111,0,1,0,1,1,1,1,1,1,1,0,0

In [76]:
data_encoded = encoder.transform(data)
data_scaled = sc.transform(data_encoded)
data_scaled

array([[1.        , 0.75      , 0.46388262, 0.07208238, 0.24858757,
        0.12316384, 0.        , 1.        , 0.        , 1.        ,
        1.        , 1.        , 1.        , 1.        , 1.        ,
        1.        , 0.        , 0.        ]])

In [77]:
tree_prediction = tree_classifier.predict(data_scaled)
tree_prediction = int(tree_prediction)
tree_prediction = champion_id_name_dict.get(tree_prediction)

tree_prediction

'jhin'

In [69]:
from sklearn.linear_model import LogisticRegression
logistic_regression_classifier = LogisticRegression()
logistic_regression_classifier.fit(X_train, y_train)

train_accuracy = logistic_regression_classifier.score(X_train, y_train)
test_accuracy = logistic_regression_classifier.score(X_test, y_test)

print(f'Train accuracy = {round(train_accuracy,3)*100}%')
print(f'Test accuracy = {round(test_accuracy,3)*100}%')

Train accuracy = 52.400000000000006%
Test accuracy = 51.7%

/usr/local/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [70]:
from sklearn.model_selection import cross_val_score

cv=3
accuracies = cross_val_score(estimator = logistic_regression_classifier, X = X_train, y = y_train, cv = cv)
print("Accuracy: {:.2f} %".format(accuracies.mean()*100))
print("Standard Deviation: {:.2f} %".format(accuracies.std()*100))

/usr/local/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Accuracy: 51.23 %
Standard Deviation: 0.03 %

/usr/local/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [78]:
logistic_regression_prediction = logistic_regression_classifier.predict(data_scaled)
logistic_regression_prediction = int(logistic_regression_prediction)
logistic_regression_prediction = champion_id_name_dict.get(logistic_regression_prediction)

logistic_regression_prediction

'reksai'

In [72]:
from sklearn.neighbors import KNeighborsClassifier
knn_classifier = KNeighborsClassifier(n_neighbors=5)
knn_classifier.fit(X_train, y_train)

train_accuracy = knn_classifier.score(X_train, y_train)
print(f'Train accuracy = {round(train_accuracy, 3)*100}%')

test_accuracy = knn_classifier.score(X_test, y_test)
print(f'Train accuracy = {round(test_accuracy, 3)*100}%')

Train accuracy = 84.5%
Train accuracy = 73.7%

In [73]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import LeaveOneOut

# cv = LeaveOneOut()
cv = 10
accuracies = cross_val_score(estimator = knn_classifier, X = X_train, y = y_train, cv = cv)
print("Accuracy: {:.2f} %".format(accuracies.mean()*100))
print("Standard Deviation: {:.2f} %".format(accuracies.std()*100))

/usr/local/lib/python3.9/site-packages/sklearn/model_selection/_split.py:666: UserWarning: The least populated class in y has only 5 members, which is less than n_splits=10.
  warnings.warn(("The least populated class in y has only %d"

Accuracy: 72.72 %
Standard Deviation: 0.56 %

In [79]:
knn_prediction = knn_classifier.predict(data_scaled)
knn_prediction = int(knn_prediction)
knn_prediction = champion_id_name_dict.get(knn_prediction)

knn_prediction

'hecarim'

### Data Exploration